<section class="g-bg-cover g-bg-size-cover g-bg-white-gradient-opacity-v1--after" data-bg-img-src="../../../../../../assets/img/pages/blog/posts/new-trends-in-flooring/banner.png">
  <div class="container text-center g-pos-rel g-z-index-1 g-pb-50">
    <div class="row d-flex justify-content-center align-content-end flex-wrap g-min-height-500">
      <div class="col-lg-7 mt-auto">
        <div class="mb-5">
          <h1 class="g-color-white g-font-weight-600 g-mb-30">New Trends in Flooring</h1>
        </div>
        <span class="g-color-white-opacity-0_7 g-font-weight-300 g-font-size-12">20 December 2015</span>
      </div>
    </div>
  </div>
</section>
<section class="container g-pt-100 g-pb-60">
  <div class="row justify-content-center">
    <div class="col-lg-9">
      <div class="g-mb-60">
        <img class="img-fluid u-shadow-v2" src="../../../../../../assets/img/pages/blog/posts/new-trends-in-flooring/feature_image.jpg" alt="Modern living room">
      </div>
      <div class="g-mb-60">
        <p>Hardwood Floors have been popular in the United States for hundreds of years. Stain color, plank width, wood species and looks have changed from time to time. In the 1800 - 1900's, wood floors were many times covered up with other flooring as if they were something to be ashamed of.</p>
        <p>Nowadays we treasure hardwood flooring. The once popular skinny planks have changed over the wider planks that were once popular even further back in our history. It is kind of like clothing styles, wait long enough and the style of wood flooring you have will become popular again. Traditional hardwood planks for wood floor installation came in 2 1/4" to 3 /12" planks, but now the trend is 5", 6" to 7", with new styles popping up as much as 12 inches wide.</p>
        <p>Once of the most popular styles today besides the wide plank is the hand scraped plank. You can get this in solid hardwood flooring, or engineered wood flooring. It has a texture as if an old time wood working craftsman used a scraping tool to scrape the wood before it is stained. Sometimes distressed for a more antique look, this wood style comes in a range of colors to fit any decor. Much of the hand scraped plank wood floors is available in darker rich colors showcasing the grain and texture.</p>
        <p>Color trends for the newer wide plank wood floors are trending at rich brown colors such as chocolate, dark mahogany, java, or dark walnut. Any shade of gray has become the new neutral color, from light to dark and is becoming very popular. The old fashioned look of pickling or lime-wash is now returning as another popular choice. Check it out, you will love the new, old look. Call Just Floored today for a free in home consultation to look at the new flooring options available in hardwood floor installation for your home. Maybe one of the new looks might be just the ticket to refreshing your home and giving the floors a new lease on life.</p>
        <p>Not only are the stain color choices growing for onsite or prefinished hardwood floors and engineered flooring, but the sheen level of gloss is changing. Once a high gloss sealer was the in look, and now a less shiny low gloss sheen is becoming popular. Just Floored flooring installers can show you various sheen levels to help you decide how to finish your new flooring.</p>
        <p>Style options for Wide Plank Flooring includes hand-scraped which looks like someone chiseled along the grain; distressing to add character with nail holes, gouges and dents; varying the widths randomly to add to the look; and laminate replication of hand-scraped, distressed hardwood flooring.</p>
        <p>Just Floored, LLC can install your new wide plank hardwood floors vertically, horizontally or diagonally for a one of a kind look that will make your room stand out.</p>
      </div>
      <app-service-areas-paragraph></app-service-areas-paragraph>
    </div>
  </div>
</section>
<div class="text-center">
  <h3 class="h6 g-color-black g-font-weight-600 text-uppercase mb-3">Share:</h3>
  <ul class="list-inline g-mb-60">
    <li class="list-inline-item g-mx-2">
      <a class="u-icon-v1 u-icon-slide-up--hover g-color-gray-dark-v4 g-color-facebook--hover" href="https://www.facebook.com/sharer/sharer.php?u=www.justfloored.com/blog/posts/new-trends-in-flooring">
        <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-facebook"></i>
        <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-facebook"></i>
      </a>
    </li>
    <li class="list-inline-item g-mx-2">
      <a class="u-icon-v1 u-icon-slide-up--hover g-color-gray-dark-v4 g-color-pinterest--hover" href="https://pinterest.com/pin/create/button/?url=www.justfloored.com/blog/posts/new-trends-in-flooring&media=&description=Hardwood%20Floors%20have%20been%20popular%20in%20the%20United%20States%20for%20hundreds%20of%20years.%20Stain%20color,%20plank%20width,%20wood%20species%20and%20looks%20have%20changed%20from%20time%20to%20time.%20In%20the%201800%20-%201900's,%20wood%20floors%20were%20many%20times%20covered%20up%20with%20other%20flooring%20as%20if%20they%20were%20something%20to%20be%20ashamed%20of.">
        <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-pinterest"></i>
        <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-pinterest"></i>
      </a>
    </li>
    <li class="list-inline-item g-mx-2">
      <a class="u-icon-v1 u-icon-slide-up--hover g-color-gray-dark-v4 g-color-twitter--hover" href="https://twitter.com/intent/tweet?text=Just%20Floored%20%7C%20New%20Trends%20in%20Flooring%0A%0Awww.justfloored.com/blog/posts/new-trends-in-flooring">
        <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-twitter"></i>
        <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-twitter"></i>
      </a>
    </li>
    <li class="list-inline-item g-mx-2">
      <a class="u-icon-v1 u-icon-slide-up--hover g-color-gray-dark-v4 g-color-linkedin--hover" href="https://www.linkedin.com/shareArticle?mini=true&url=www.justfloored.com/blog/posts/new-trends-in-flooring&title=New%20Trends%20in%20Flooring&summary=Hardwood%20Floors%20have%20been%20popular%20in%20the%20United%20States%20for%20hundreds%20of%20years.%20Stain%20color,%20plank%20width,%20wood%20species%20and%20looks%20have%20changed%20from%20time%20to%20time.%20In%20the%201800%20-%201900's,%20wood%20floors%20were%20many%20times%20covered%20up%20with%20other%20flooring%20as%20if%20they%20were%20something%20to%20be%20ashamed%20of.&source=">
        <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-linkedin"></i>
        <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-linkedin"></i>
      </a>
    </li>
  </ul>
</div>