<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall g-mt-70" data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" style="height: 140%; background-image: url(../../../../assets/img/pages/floors/44287734_ml_0.jpg);"></div>
  <div class="container g-color-white text-center g-py-120">
    <h3 class="h1 g-font-weight-600 text-uppercase mb-2">Engineered Wood Flooring</h3>
  </div>
</section>
<section class="container g-py-25">
  <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
    <h2 class=" g-mb-10">Durable <span class="color-orange">Engineered</span> Wood Flooring</h2>
  </div>

  <img src="../../../../../../assets/img/pages/floors/engineered.png" class="g-mb-50" width="40%">

  <div class="row g-pa-15">
    <h4 class="g-font-weight-200">Engineered Wood</h4>
    <p>Engineered wood floors are built having multiple thin ply layers that are glued together. The inner cores are generally either a hardwood and/or soft plywood type of material, which incorporates the tongue and groove system. The top thicker hardwood veneer wear layer is glued on top surface of the core and is available in almost any hardwood species.</p>
    <p>There are some engineered wood flooring manufacturers that allow their flooring to be floated as well as glued down. Their boards generally range in width from 3 to 5 inches and up to 48 inches long.</p>
    <p>Engineered wood floors are slightly more resistant to higher moisture levels than solid wood flooring, which adds to their appeal to use in damp basements, or in tropical regions of the country. Engineered flooring can be direct glued-down over a concrete slab above or below grade, or stapled down over a wood subfloor. Engineered flooring can be installed on any grade level.</p>
    <p>Engineered wood floors come in a wide variety of domestic and exotic hardwood species. Some brands of engineered flooring have a thin wear layer that can only be re-coated and cannot be sanded and refinished new again once they get worn. They have an average lifespan of between 30 - 40 years depending on traffic. We offer low VOC engineered wood flooring.</p>
    <p>Engineered wood floors are also manufactured two ways, one having a more expensive Sliced cut where the hardwood wear layer is sawn like regular lumber this shows truer look of the wood and finer graining.</p>
    <p>Engineered wood floors can also be Rotary cut, which the veneer hardwood wear layer is peeled off the log using big lathes. This peeling method shows dramatic wilder graining.</p>
    <p>Some engineered wood floors have a very thick wear layer. These floors can be sanded and refinished new again, up to 4-5 times if needed, which adds to their appeal. Ask us about <strong>dustless sanding</strong> and <strong>floor laying</strong>.</p>
  </div>
  
</section>