<section class="container g-py-25 g-mt-150">
  <div class="u-heading-v2-3--bottom g-mb-30">
    <h2 class="u-heading-v2__title g-mb-10">Blog</h2>
  </div>
</section>
<div class="container g-pb-20">
  <div class="row justify-content-between">
    <div class="col-lg-9 g-mb-80">
      <div class="g-pr-20--lg">
        <div class="masonry-grid row g-mb-70">
          <div class="masonry-grid-sizer col-sm-1"></div>
          <div class="masonry-grid-item col-sm-6 g-mb-30">
            <article class="u-shadow-v11">
              <img class="img-fluid w-100" src="../../../../../assets/img/pages/blog/main/carbonized-horizontal-bamboo_0_0.jpg" alt="Carbonized horizontal bamboo">
              <div class="g-bg-white g-pa-30">
                <span class="d-block g-color-gray-dark-v4 g-font-weight-600 g-font-size-12 text-uppercase mb-2">14 April 2016</span>
                <h2 class="h5 g-color-black g-font-weight-600 mb-3">
                  <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" routerLink="/blog/posts/bamboo-flooring" routerLinkActive="active">Bamboo Flooring</a>
                </h2>
                <p class="g-color-gray-dark-v4 g-line-height-1_8">Just Floored is proud to offer bamboo flooring as well as its popular hardwood floors. Bamboo is a great looking product that is actually harder than hardwood flooring materials and can be harvested every five years making it a green product. Patterns have evolved, customers can choose either horizontal or vertical cut bamboo which have two different looks, and can choose either a dark or light finish.</p>
                <a class="g-font-size-13" routerLink="/blog/posts/bamboo-flooring" routerLinkActive="active">Read more...</a>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 g-brd-left--lg g-brd-gray-light-v4 g-mb-80">
      <div class="g-pl-20--lg">
        <div class="g-mb-50">
          <h3 class="h5 g-color-black g-font-weight-600 mb-4">Categories</h3>
          <ul class="list-unstyled g-font-size-13 mb-0">
            <li>
              <a class="d-block active u-link-v5 g-color-black g-bg-gray-light-v5 g-font-weight-600 g-rounded-50 g-px-20 g-py-8" routerLink="/blog/categories/bamboo-flooring" routerLinkActive="active"><i class="mr-2 fa fa-angle-right"></i> Bamboo Flooring</a>
            </li>
            <li>
              <a class="d-block u-link-v5 g-color-gray-dark-v4 rounded g-px-20 g-py-8" routerLink="/blog/categories/cork-flooring" routerLinkActive="active"><i class="mr-2 fa fa-angle-right"></i> Cork Flooring</a>
            </li>
            <li>
              <a class="d-block u-link-v5 g-color-gray-dark-v4 rounded g-px-20 g-py-8" routerLink="/blog/categories/engineered-wood-flooring" routerLinkActive="active"><i class="mr-2 fa fa-angle-right"></i> Engineered Wood Flooring</a>
            </li>
            <li>
              <a class="d-block u-link-v5 g-color-gray-dark-v4 rounded g-px-20 g-py-8" routerLink="/blog/categories/hardwood-flooring" routerLinkActive="active"><i class="mr-2 fa fa-angle-right"></i> Hardwood Flooring</a>
            </li>
            <li>
              <a class="d-block u-link-v5 g-color-gray-dark-v4 rounded g-px-20 g-py-8" routerLink="/blog/categories/laminate-flooring" routerLinkActive="active"><i class="mr-2 fa fa-angle-right"></i> Laminate Flooring</a>
            </li>
            <li>
              <a class="d-block u-link-v5 g-color-gray-dark-v4 rounded g-px-20 g-py-8" routerLink="/blog/categories/refinishing-floors" routerLinkActive="active"><i class="mr-2 fa fa-angle-right"></i> Refinishing Floors</a>
            </li>
            <li>
              <a class="d-block u-link-v5 g-color-gray-dark-v4 rounded g-px-20 g-py-8" routerLink="/blog/categories/stone-title" routerLinkActive="active"><i class="mr-2 fa fa-angle-right"></i> Stone / Tile</a>
            </li>
            <li>
              <a class="d-block u-link-v5 g-color-gray-dark-v4 rounded g-px-20 g-py-8" routerLink="/blog/categories/vinyl-plank" routerLinkActive="active"><i class="mr-2 fa fa-angle-right"></i> Vinyl Plank</a>
            </li>
          </ul>
        </div>

        <hr class="g-brd-gray-light-v4 g-mt-50 mb-0">

        <div>
          <div class="g-pt-50" data-responsive="true">
            <div class="g-mb-50">
              <h3 class="h5 g-color-black g-font-weight-600 mb-4">Latest Posts</h3>
              <ul class="list-unstyled">
                <li class="media g-brd-around g-brd-gray-light-v4 g-brd-left-3 g-brd-primary-left g-rounded-3 g-pa-20 g-mb-7">
                  <div class="d-flex g-mt-2 g-mr-15">
                    <img class="g-width-40 g-height-40 rounded" src="../../../../../assets/img/pages/blog/main/spc_vinyl_flooring.png" alt="Image of SPC Vinyl Flooring">
                  </div>
                  <div class="media-body">
                    <div class="d-flex justify-content-between">
                      <h5 class="h6 g-font-weight-600 g-color-black">SPC Vinyl Flooring</h5>
                    </div>
                    <p>Many Just Floored Atlanta customers have been asking...</p>
                    <a class="g-font-size-10" routerLink="blog/posts/spc-vinyl-flooring" routerLinkActive="active">Read More...</a>
                  </div>
                </li>
                <li class="media g-brd-around g-brd-gray-light-v4 g-brd-left-3 g-brd-primary-left g-rounded-3 g-pa-20 g-mb-7">
                  <div class="d-flex g-mt-2 g-mr-15">
                    <img class="g-width-40 g-height-40 rounded" src="../../../../../assets/img/pages/blog/main/VF006h-arcacoa.jpg" alt="Image of VF006 arcacoa flooring">
                  </div>
                  <div class="media-body">
                    <div class="d-flex justify-content-between">
                      <h5 class="h6 g-font-weight-600 g-color-black">Luxury Vinyl Planks Flooring Installation</h5>
                    </div>
                    <p>Beauty &amp; Practically. Many customers...</p>
                    <a class="g-font-size-10" routerLink="/blog/posts/luxury-vinyl-planks-flooring-installation" routerLinkActive="active">Read More...</a>
                  </div>
                </li>
                <li class="media g-brd-around g-brd-gray-light-v4 g-brd-left-3 g-brd-primary-left g-rounded-3 g-pa-20 g-mb-7">
                  <div class="d-flex g-mt-2 g-mr-15">
                    <img class="g-width-40 g-height-40 rounded" src="../../../../../assets/img/pages/blog/main/pet-floor.jpg" alt="Dog laying on hardwood flooring in front of a fireplace.">
                  </div>
                  <div class="media-body">
                    <div class="d-flex justify-content-between">
                      <h5 class="h6 g-font-weight-600 g-color-black">Choosing the Right Floor Finish</h5>
                    </div>
                    <p>Oil based vs. water based vs...</p>
                    <a class="g-font-size-10" routerLink="/blog/posts/choosing-the-right-floor-finish" routerLinkActive="active">Read More...</a>
                  </div>
                </li>
              </ul>
            </div>

            <hr class="g-brd-gray-light-v4 g-my-50">

            <div class="g-mb-40">
              <h3 class="h5 g-color-black g-font-weight-600 mb-4">Tags</h3>
              <ul class="u-list-inline mb-0">
                <li class="list-inline-item g-mb-10">
                  <a class="u-tags-v1 g-color-gray-dark-v4 g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover g-font-size-12 g-rounded-50 g-py-4 g-px-15">Bamboo</a>
                </li>
                <li class="list-inline-item g-mb-10">
                  <a class="u-tags-v1 g-color-gray-dark-v4 g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover g-font-size-12 g-rounded-50 g-py-4 g-px-15">Floor Laying</a>
                </li>
                <li class="list-inline-item g-mb-10">
                  <a class="u-tags-v1 g-color-gray-dark-v4 g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover g-font-size-12 g-rounded-50 g-py-4 g-px-15">Cork</a>
                </li>
                <li class="list-inline-item g-mb-10">
                  <a class="u-tags-v1 g-color-gray-dark-v4 g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover g-font-size-12 g-rounded-50 g-py-4 g-px-15">Dustless Sanding</a>
                </li>
                <li class="list-inline-item g-mb-10">
                  <a class="u-tags-v1 g-color-gray-dark-v4 g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover g-font-size-12 g-rounded-50 g-py-4 g-px-15">Engineered</a>
                </li>
                <li class="list-inline-item g-mb-10">
                  <a class="u-tags-v1 g-color-gray-dark-v4 g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover g-font-size-12 g-rounded-50 g-py-4 g-px-15">Hardwood</a>
                </li>
                <li class="list-inline-item g-mb-10">
                  <a class="u-tags-v1 g-color-gray-dark-v4 g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover g-font-size-12 g-rounded-50 g-py-4 g-px-15">Flooring Installation</a>
                </li>
                <li class="list-inline-item g-mb-10">
                  <a class="u-tags-v1 g-color-gray-dark-v4 g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover g-font-size-12 g-rounded-50 g-py-4 g-px-15">Contractor</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>