<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall g-mt-70" data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" style="height: 140%; background-image: url(../../../../assets/img/pages/floors/44287734_ml_0.jpg);"></div>
  <div class="container g-color-white text-center g-py-120">
    <h3 class="h1 g-font-weight-600 text-uppercase mb-2">GT 405 Sunset Hickory</h3>
  </div>
</section>
<section class="container g-bg-white g-pt-100 g-pb-70">
  <div class="row">
    <div class="col">
      <div class="g-brd-around g-brd-gray-light-v4 g-brd-left-4 g-brd-green-left g-line-height-1_8 g-rounded-3 g-pa-20 g-mb-30" role="alert">
        <h3 class="g-color-green g-font-weight-600">GT 405 Sunset Hickory</h3>
        <p class="mb-0 g-font-size-16">
          <strong>Style:</strong> Hickory<br>
          <strong>Construction:</strong> Laminate<br>
          <strong>Thickness:</strong> 0.47" (12mm)<br>
          <strong>Dimensions:</strong> 47.83" &times; 6.54" (1215mm &times; 166mm)<br>
          <strong>Formaldehyde Content:</strong> Carb 2<br>
          <strong>Abrasion Resistance:</strong> AC3 class 23-31<br>
          <strong>Surface Texture:</strong> EIR and Handscraped Finish<br>
          <strong>ft<sup>2</sup> per carton:</strong> 13.03 ft<sup>2</sup><br>
          <strong>Edge Profile:</strong> Press Bevel<br>
          <strong>Water Resistance:</strong> Waxing on Locking System<br>
        </p>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col g-mb-30">
          <a class="js-fancybox d-block u-bg-overlay g-bg-black-opacity-0_5--after" href="javascript:;" data-fancybox="lightbox-gallery-hidden" data-src="../../../../../../assets/img/pages/laminate/gt405/hk3005a.jpg" data-caption="GT 405 Sunset Hickory" data-speed="500" data-slideshow-speed="1000">
            <img class="img-fluid" src="../../../../../../assets/img/pages/laminate/gt405/hk3005a.jpg" alt="GT 405 Sunset Hickory">
            <span class="u-bg-overlay__inner g-absolute-centered g-color-white">
            <span class="g-font-size-46">3+</span>
            <br>view photos
            </span>
          </a>
        </div>
      
        <img class="js-fancybox g-hidden-xs-up" data-fancybox="lightbox-gallery-hidden" data-src="../../../../../../assets/img/pages/laminate/gt405/hk3005b.jpg" data-caption="GT 405 Sunset Hickory" data-speed="500" data-slideshow-speed="1000">
        <img class="js-fancybox g-hidden-xs-up" data-fancybox="lightbox-gallery-hidden" data-src="../../../../../../assets/img/pages/laminate/gt405/hk3005c.jpg" data-caption="GT 405 Sunset Hickory" data-speed="500" data-slideshow-speed="1000">
        <img class="js-fancybox g-hidden-xs-up" data-fancybox="lightbox-gallery-hidden" data-src="../../../../../../assets/img/pages/laminate/gt405/hk3005d.jpg" data-caption="GT 405 Sunset Hickory" data-speed="500" data-slideshow-speed="1000">
        <img class="js-fancybox g-hidden-xs-up" data-fancybox="lightbox-gallery-hidden" data-src="../../../../../../assets/img/pages/laminate/gt405/GT405.jpg" data-caption="GT 405 Sunset Hickory" data-speed="500" data-slideshow-speed="1000">
      </div>
    </div>
  </div>
</section>
