<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall g-mt-70" data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" style="height: 140%; background-image: url(../../../../assets/img/pages/floors/44287734_ml_0.jpg);"></div>
  <div class="container g-color-white text-center g-py-120">
    <h3 class="h1 g-font-weight-600 text-uppercase mb-2">VF003 Coca Blossom</h3>
  </div>
</section>
<section class="container g-bg-white g-pt-100 g-pb-70">
  <div class="row">
    <div class="col">
       <div class="g-brd-around g-brd-gray-light-v4 g-brd-left-4 g-brd-primary-left g-line-height-1_8 g-rounded-3 g-pa-20 g-mb-30">
        <h3 class=" g-color-primary g-font-weight-600">VF003 Coca Blossom</h3>
        <p class="mb-0 g-font-size-16">
          <strong>Size:</strong> 48" &times; 7" (1220mm &times; 180mm) | 36.85" &times; 5.9" (936mm &times; 150mm)<br>
          <strong>Thickness:</strong> 0.165" (4.2mm)<br>
          <strong>Wearlayer:</strong> 12mil (0.3mm)<br>
          <strong>Surface:</strong> Antique Wood Texture<br>
          <strong>Coating:</strong> UV-Coating<br>
          <strong>Lock System:</strong> Unilin Easy Locking System<br>
          <strong>ft<sup>2</sup> per Carton:</strong> 23.64 ft<sup>2</sup> | 18.13 ft<sup>2</sup><br>
          <strong>Category:</strong> VF_4.2mm LVP, Vinyl
        </p>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col g-mb-30">
          <a class="js-fancybox d-block u-bg-overlay g-bg-black-opacity-0_5--after" href="javascript:;" data-fancybox="lightbox-gallery-hidden" data-src="../../../../../../assets/img/pages/vinyl/vf003/VF003a.jpg" data-caption="VF003 Coca Blossom" data-speed="500" data-slideshow-speed="1000">
            <img class="img-fluid" src="../../../../../../assets/img/pages/vinyl/vf003/VF003a.jpg" alt="VF003 Coca Blossom">
            <span class="u-bg-overlay__inner g-absolute-centered g-color-white">
            <span class="g-font-size-46">3+</span>
            <br>view photos
            </span>
          </a>
        </div>
      
        <img class="js-fancybox g-hidden-xs-up" data-fancybox="lightbox-gallery-hidden" data-src="../../../../../../assets/img/pages/vinyl/vf003/VF003b.jpg" data-caption="VF003 Coca Blossom" data-speed="500" data-slideshow-speed="1000">
        <img class="js-fancybox g-hidden-xs-up" data-fancybox="lightbox-gallery-hidden" data-src="../../../../../../assets/img/pages/vinyl/vf003/VF003c.jpg" data-caption="VF003 Coca Blossom" data-speed="500" data-slideshow-speed="1000">
        <img class="js-fancybox g-hidden-xs-up" data-fancybox="lightbox-gallery-hidden" data-src="../../../../../../assets/img/pages/vinyl/vf003/VF003e.jpg" data-caption="VF003 Coca Blossom" data-speed="500" data-slideshow-speed="1000">
        <img class="js-fancybox g-hidden-xs-up" data-fancybox="lightbox-gallery-hidden" data-src="../../../../../../assets/img/pages/vinyl/vf003/VF003h.jpg" data-caption="VF003 Coca Blossom" data-speed="500" data-slideshow-speed="1000">
      </div>
    </div>
  </div>
</section>
