<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall g-mt-70" data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" style="height: 140%; background-image: url(../../../../assets/img/pages/floors/44287734_ml_0.jpg);"></div>
  <div class="container g-color-white text-center g-py-120">
    <h3 class="h1 g-font-weight-600 text-uppercase mb-2">Bamboo Flooring</h3>
  </div>
</section>
<section class="container g-py-25">
  <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
    <h2 class=" g-mb-10">Gorgeous and Strong <span class="color-orange">Bamboo</span> Flooring</h2>
  </div>

  <div class="g-pa-15">
    <div class="row">
      <div class="col-md-4 g-mb-30">
        <img src="../../../../../../assets/img/pages/floors/bamboo.png" class="g-mb-50" width="50%">
      </div>
      <div class="col-md-8 g-mb-30">
        <h4 class="g-font-weight-200">Clients love their bamboo floors!</h4>
        <p>A common error some make about bamboo is that it is a type of hardwood. Not to be confused with common associations of many species of grass, bamboo is actually a type of grass which matures into a material that can rival the hardness of maple! Being well adapted to the environment in which bamboo commonly grows, each bamboo plant thrives in areas of fair to poor soil quality, and still remains to be one of the fastest growing plants in the world.</p>
        <p>Controlled harvesting of the bamboo plant has very little impact on each individual stalk, which will continue to grow long after harvesting. This is what makes bamboo such a renewable source of flooring material, and why it is often associated with environmentally minded choices for flooring. The fact that it is such a uniquely attractive flooring option makes bamboo flooring an extremely beneficial choice for your own interior environment!</p>
      </div>
    </div>
    <h4 class="g-font-weight-200">How Bamboo Flooring is Made</h4>
    <ul>
      <li>Once the bamboo has been harvested, the outer layer of green "skin" is removed and each stalk is cut into lengthwise strips or "fillets". These curved fillets of bamboo are milled along their outer edges in order to flatten them. The excess elements of this process will go into another type of bamboo flooring that is called "strand-woven bamboo flooring" - more on that later. The flattened strips of bamboo are then kiln dried in order to remove the natural moisture in the bamboo, and are then boiled. The bamboo fillets are now ready to be glued together to make a solid, dependable surface that is more than suitable for flooring.</li>
      <li>The bamboo undergoes one final compression stage, which makes it that much more durable and ready to ship. Tongue and groove elements are added in order to make an installation as easy as possible. It should be mentioned that the outcome of this manufacturing process is dependent on which kind of bamboo flooring is being made. There are several types of bamboo flooring, both in terms of cut and of color, and some differences in how they are processed.</li>
      <li>There are visual benefits for each one, depending on your personal taste, but both remain to be decorative choices. The horizontal style is striking for its "knuckle" or "node" patterns, that is, the pattern naturally occurring in the bamboo that are the equivalent of "growth rings" in many hardwood species. The vertical style is a unique surface that remains unmatched by any other natural flooring material, characterized by decorative, narrow channels caused by the binding of the bamboo strips.</li>
      <li>There is very little wastage of materials during the bamboo flooring manufacturing process, making bamboo a truly renewable and sustainable source of flooring materials.</li>
    </ul>

    <h4 class="g-font-weight-200 g-mt-25">Stranded Bamboo</h4>
    <p>Woven, strand-woven or stranded bamboo construction, as it's sometimes called, differs dramatically than both horizontal and vertical construction. Instead of gluing strips of bamboo together in a uniform way, strands of bamboo fibers are compressed under intense pressure to form the floorboards. The woven look of bamboo flooring is very nontraditional.</p>
    <p>Manufacturers can create very exotic looking flooring, blending varying colors and length of bamboo strips. Woven construction is also the most environmentally friendly form of bamboo flooring because it uses very little adhesive. It's also considered to be the most durable of all the bamboo flooring due to the intense pressure used to create it.</p>
  </div>
  
</section>