<section class="g-py-200--md g-py-80">
  <div class="container text-center g-mt-100">
    <div class="row">
      <div class="col-md-10 ml-md-auto mr-md-auto">
        <h3 class="h5 text-uppercase g-font-weight-700 g-mb-20 g-color-primary">404</h3>
        <h2 class="display-4 text-uppercase g-font-weight-600 g-mb-20">
          PAGE NOT FOUND
        </h2>

        <p class="lead g-mb-40">We can't seem to find the page you're looking for.</p>

        <a class="btn btn-xl u-btn-primary text-uppercase g-font-weight-700 g-font-size-12" routerLink="/">
          <i class="fa fa-arrow-left g-mr-5"></i>
          Return to Homepage
        </a>
      </div>
    </div>
  </div>
</section>