<!-- Footer -->
<div class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-py-60">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 g-mb-60 g-mb-0--lg">
        <a class="d-block g-mb-20" href="index.html">
          <img class="img-fluid" src="../../../assets/img/logos/logo_jf_transparent.png" alt="Logo" width="150px">
        </a>

        <div class="g-mb-30">
          <p>Your Trusted Flooring Store Sales and Services</p>
        </div>

        <div class="col-lg col-sm-4">
          <ul class="list-unstyled g-mb-35">
            <li class="d-flex align-items-baseline g-mb-8">
              <i class="fa fa-phone g-mr-5"></i>
              Toll Free:&nbsp;<a class="g-color-white-opacity-0_8" href="tel:+8554522500">(855) 452 - 2500</a>
            </li>
            <li class="d-flex align-items-baseline g-mb-8">
              <i class="fa fa-phone g-mr-5"></i>
              Atlanta:&nbsp;<a class="g-color-white-opacity-0_8" href="tel:+4044522500">(404) 452 - 2500</a>
            </li>
            <li class="d-flex align-items-baseline g-mb-8">
              <i class="fa fa-phone g-mr-5"></i>
              Jacksonville:&nbsp;<a class="g-color-white-opacity-0_8" href="tel:+9044326464">(904) 432 - 6464</a>
            </li>
            <li class="d-flex align-items-baseline g-mb-8">
              <i class="fa fa-phone g-mr-5"></i>
              Houston:&nbsp;<a class="g-color-white-opacity-0_8" href="tel:+8323641274">(832) 364 - 1274</a>
            </li>
            <li class="d-flex align-items-baseline g-mb-8">
              <i class="fa fa-phone g-mr-5"></i>
              Orlando:&nbsp;<a class="g-color-white-opacity-0_8" href="tel:+4079464500">(407) 946 - 4500</a>
            </li>
            <li class="d-flex align-items-baseline g-mb-8">
              <i class="fa fa-envelope g-mr-5"></i>
              <a class="g-color-white-opacity-0_8" href="mailto:info@justfloored.com">info@justfloored.com</a>
            </li>
          </ul>
        </div>

        <ul class="list-inline mb-0">
          <li class="list-inline-item g-mr-10">
            <a class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-bg-white-opacity-0_2--hover g-color-white-opacity-0_6" href="https://www.facebook.com/JustFloored/" target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item g-mr-10">
            <a class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-bg-white-opacity-0_2--hover g-color-white-opacity-0_6" href="https://www.youtube.com/channel/UCQt9MhD5OE93YLqyPs_cQog" target="_blank">
              <i class="fa fa-youtube"></i>
            </a>
          </li>
        </ul>
      </div>

      <div class="col-lg col-sm-4">
        <h2 class="h5 g-mb-15">Service Areas</h2>
        <ul class="list-unstyled g-mb-35">
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/floor-installation-alpharetta">Alpharetta</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/atlanta-hardwood-installers">Atlanta</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/wood-floors-athens-georgia">Athens</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/braselton-floor-installation">Braselton</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/buford-flooring-contractor">Buford</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/chateau-elan-wood-floor-installation">Chateu Elan</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/floor-installation-concorde-north-carolina">Concorde</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/cumming-floor-installation">Cumming</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/dacula-floor-installation">Dacula</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/decatur-floor-installer">Decatur</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/duluth-floor-installation">Duluth</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/dunwoody-floor-installation-service">Dunwoody</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/flowery-branch-floor-installer">Flowery Branch</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/winter-park-floor-installation">Winter Park</a>
          </li>
        </ul>
      </div>

      <div class="col-lg col-sm-4">
        <h2 class="h5 g-mb-15">&nbsp;</h2>
        <ul class="list-unstyled g-mb-35">
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/fort-mill-floor-installation">Fort Mill</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/gainesville-wood-floor-installation">Gainesville</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/woodlands-hardwood-floor-installation">Galveston</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/hoschton-flooring-contractor">Hoschton</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/houston-floor-installation">Houston</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/jacksonville-hardwood-floors">Jacksonville</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/flooring-installations-johns-creek">Johns Creek</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/kennesaw-floor-installation">Kennesaw</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/lilburn-wood-floor-installation">Lilburn</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/loganville-floor-installation">Loganville</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/hardwood-floor-installation-marietta-ga">Marietta</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/floor-installation-milton">Milton</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/myrtle-beach-floor-installation-refinishing">Myrtle Beach</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/vinings-floor-installation">Vinings</a>
          </li>
        </ul>
      </div>

      <div class="col-lg col-sm-4">
        <h2 class="h5 g-mb-15">&nbsp;</h2>
        <ul class="list-unstyled g-mb-35">
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/palm-valley-floor-installation">Palm Valley</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/peachtree-corners-hardwood-floor-installation">Peachtree Corners</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/ponte-vedra-florida">Ponte Vedra</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/roswell-floor-installation">Roswell</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/floor-installer-sandy-springs">Sandy Springs</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/snellville-floor-installation">Snellville</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/orange-park-floor-installation">Orange Park</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/orlando-floor-installation">Orlando</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/smyrna-floor-installation">Smyrna</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/st-augusting-floor-installation">St. Augustine</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/sugar-hill-floor-installation">Sugar Hill</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/suwanee-floor-installer">Suwanee</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/woodlands-hardwood-floor-installation">The Woodlands</a>
          </li>
          <li class="d-flex align-items-baseline g-mb-8">
            <i class="fa fa-angle-right g-mr-5"></i>
            <a class="g-color-white-opacity-0_8" routerLink="/service-area/tucker-floor-installation">Tucker</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center text-center text-md-left g-mb-10 g-mb-0--md">
        <div class="d-lg-flex">
          <small class="d-block g-font-size-default g-mr-5 g-mb-10 g-mb-0--md">Copyright &copy; 2021</small>| Just Floored, LLC | All Rights Reserved
        </div>
      </div>
    </div>
  </div>
</footer>
