<header id="js-header" class="u-header u-header--sticky-top u-header--toggle-section u-header--change-appearance" data-header-fix-moment="100">
  <div class="u-header__section u-header__section--hidden u-header__section--dark g-bg-black g-transition-0_3 g-py-10">
    <div class="container">
      <div class="row flex-column flex-sm-row justify-content-between align-items-center text-uppercase g-font-weight-600 g-color-white g-font-size-12 g-mx-0--lg">
        <div class="col-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a href="https://www.youtube.com/channel/UCQt9MhD5OE93YLqyPs_cQog" target="_blank" class="g-color-white g-color-primary--hover g-pa-3">
                <i class="fa fa-youtube" style="font-size: 20px!important"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/JustFloored/" target="_blank" class="g-color-white g-color-primary--hover g-pa-3">
                <i class="fa fa-facebook" style="font-size: 20px!important"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="col-auto">
          <i class="fa fa-phone g-font-size-18 g-valign-middle g-color-primary g-mr-10 g-mt-minus-2"></i>
          (855) 452 - 2500
        </div>

        <div class="col-auto">
          <i class="fa fa-envelope g-font-size-18 g-valign-middle g-color-primary g-mr-10 g-mt-minus-2"></i>
          info@justfloored.com
        </div>
      </div>
    </div>
  </div>
  <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10" data-header-fix-moment-exclude="g-py-10" data-header-fix-moment-classes="u-shadow-v18 g-py-0">
    <nav class="navbar navbar-expand-lg u-navbar u-navbar--inline-submenu--lg">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
          <span class="hamburger hamburger--slider">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
          </span>
          </span>
        </button>
        <a routerLink="/" routerLinkActive="active" class="navbar-brand">
          <img src="../../../assets/img/logos/logo_jf_transparent.png" alt="JustFloored Logo" width="125px">
        </a>
        <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg" id="navBar">
          <ul class="navbar-nav text-uppercase g-font-weight-600 ml-auto">
            <li class="nav-item g-mx-20--lg">
              <a class="nav-link px-0" routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item dropdown g-mx-20--lg">
              <a href="javascript:;" class="nav-link dropdown-toggle g-px-0" aria-haspopup="true" aria-expanded="false" aria-controls="section-home-submenu" data-toggle="dropdown" data-appear-speed="200" data-appear-easing="linear">About</a>
              <ul class="dropdown-menu font-weight-normal rounded-0 g-text-transform-none g-brd-none g-brd-top g-brd-primary g-brd-top-1 g-mt-20 g-mt-10--lg--scrolling">
                <li class="g-mx-5--lg">
                  <a class="nav-link g-color-primary--hover" routerLink="/about-us" routerLinkActive="active">About Us</a>
                </li>
                <li class="g-mx-5--lg">
                  <a class="nav-link g-color-primary--hover" routerLink="/floors" routerLinkActive="active">Floors</a>
                </li>
                <li class="g-mx-5--lg">
                  <a class="nav-link g-color-primary--hover" routerLink="/services" routerLinkActive="active">Services</a>
                </li>
                <li class="g-mx-5--lg">
                  <a class="nav-link g-color-primary--hover" routerLink="/gallery" routerLinkActive="active">Gallery</a>
                </li>
                <li class="g-mx-5--lg">
                  <a class="nav-link g-color-primary--hover" routerLink="/testimonials" routerLinKActive="active">Testimonials</a>
                </li>
              </ul>
            </li>
            <li class="nav-item g-mx-20--lg">
              <a class="nav-link px-0" routerLink="/go-green" routerLinkActive="active">Go Green</a>
            </li>
            <li class="nav-item g-mx-20--lg">
              <a class="nav-link px-0" routerLink="/blog" routerLinkActive="active">Blog</a>
            </li>
            <li class="nav-item g-mx-20--lg">
              <a class="nav-link px-0" routerLink="/coupon" routerLinkActive="active">Coupons</a>
            </li>
            <li class="nav-item g-ml-20--lg g-mr-0--lg">
              <a class="nav-link px-0" routerLink="/contact" routerLinkActive="active">Contact Us</a>
            </li>
            <li class="nav-item g-ml-20--lg g-mr-0--lg">
              <a class="nav-link px-0 color-orange" routerLink="/free-quote" routerLinkActive="active">Free Quote</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
