<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall g-mt-70" data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" style="height: 140%; background-image: url(../../../../assets/img/pages/floors/44287734_ml_0.jpg);"></div>
  <div class="container g-color-white text-center g-py-120">
    <h3 class="h1 g-font-weight-600 text-uppercase mb-2">WF901 Amber Acacia</h3>
  </div>
</section>
<section class="container g-bg-white g-pt-100 g-pb-70">
  <div class="row">
    <div class="col">
       <div class="g-brd-around g-brd-gray-light-v4 g-brd-left-4 g-brd-primary-left g-line-height-1_8 g-rounded-3 g-pa-20 g-mb-30">
        <h3 class=" g-color-primary g-font-weight-600">WF901 Amber Acacia</h3>
        <p class="mb-0 g-font-size-16">
          <strong>Size:</strong> 47.91" &times; 5.75" &times; 0.22" (1217mm &times; 146mm &times; 5.5mm)<br>
          <strong>Wearlayer:</strong> 12mil (0.3mm)<br>
          <strong>Vinyl Top:</strong> 1.5mm<br>
          <strong>Core Layer:</strong> 4mm<br>
          <strong>Surface:</strong> Handscraped<br>
          <strong>Click:</strong> Vlainge 2G<br>
          <strong>ft<sup>2</sup> per Carton:</strong> 22.95 ft<sup>2</sup><br>
          <strong>Category:</strong> Vinyl, WF9_5.5mm WPC
        </p>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col g-mb-30">
          <a class="js-fancybox d-block u-bg-overlay g-bg-black-opacity-0_5--after" href="javascript:;" data-fancybox="lightbox-gallery-hidden" data-src="../../../../../../assets/img/pages/vinyl/wf901/WF901h.jpg" data-caption="WF901 Amber Acacia" data-speed="500" data-slideshow-speed="1000">
            <img class="img-fluid" src="../../../../../../assets/img/pages/vinyl/wf901/WF901h.jpg" alt="WF901 Amber Acacia">
            <span class="u-bg-overlay__inner g-absolute-centered g-color-white">
            <span class="g-font-size-46">3+</span>
            <br>view photos
            </span>
          </a>
        </div>
      
        <img class="js-fancybox g-hidden-xs-up" data-fancybox="lightbox-gallery-hidden" data-src="../../../../../../assets/img/pages/vinyl/wf901/WF901b.jpg" data-caption="WF901 Amber Acacia" data-speed="500" data-slideshow-speed="1000">
        <img class="js-fancybox g-hidden-xs-up" data-fancybox="lightbox-gallery-hidden" data-src="../../../../../../assets/img/pages/vinyl/wf901/WF901c.jpg" data-caption="WF901 Amber Acacia" data-speed="500" data-slideshow-speed="1000">
        <img class="js-fancybox g-hidden-xs-up" data-fancybox="lightbox-gallery-hidden" data-src="../../../../../../assets/img/pages/vinyl/wf901/WF901d.jpg" data-caption="WF901 Amber Acacia" data-speed="500" data-slideshow-speed="1000">
        <img class="js-fancybox g-hidden-xs-up" data-fancybox="lightbox-gallery-hidden" data-src="../../../../../../assets/img/pages/vinyl/wf901/WF901e.jpg" data-caption="WF901 Amber Acacia" data-speed="500" data-slideshow-speed="1000">
      </div>
    </div>
  </div>
</section>
