<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall g-mt-70" data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" style="height: 140%; background-image: url(../../../../assets/img/pages/floors/44287734_ml_0.jpg);"></div>
  <div class="container g-color-white text-center g-py-120">
    <h3 class="h1 g-font-weight-600 text-uppercase mb-2">Laminate</h3>
  </div>
</section>
<div class="container g-mt-70">
  <div class="row text-center">
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover "routerLink="/laminate/gt215-river-cypress" routerLinkActive="active">
        <img class="img-fluid u-block-hover__main--zoom-v1 mh-525" src="../../../../../assets/img/pages/laminate/page2/rw8008b.jpg.JPG" alt="GT 215 River Cypress Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> GT 215 River Cypress </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " routerLink="/laminate/gt216-old-master" routerLinkActive="active">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/laminate/page2/gt216d.jpg" alt="GT 216 Old Master Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> GT 216 Old Master </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " href="#!">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/laminate/page2/gt217d.jpg" alt="GT 217 Old Captain Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> GT 217 Old Captain </strong>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " href="#!">
        <img class="img-fluid u-block-hover__main--zoom-v1 mh-525" src="../../../../../assets/img/pages/laminate/page2/hg6001a_2.JPG" alt="GT 302 Rose Wood Laminate Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> GT 302 Rose Wood Laminate </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " href="#!">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/laminate/page2/hg6002b.jpg.JPG" alt="GT 307 Brazilian Cherry Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> GT 307 Brazilian Cherry </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " href="#!">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/laminate/page2/hk3001c.jpg" alt="GT 401 Gunstock Hickory Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> GT 401 Gunstock Hickory </strong>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " href="#!">
        <img class="img-fluid u-block-hover__main--zoom-v1 mh-525" src="../../../../../assets/img/pages/laminate/page2/hk3002d.jpg.jpg" alt="GT 402 Expresso Hickory Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> GT 402 Expressor Hickory </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " href="#!">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/laminate/page2/hk3003b.jpg" alt="GT 403 Sunrise Hickory Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> GT 403 Sunrise Hickory </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " href="#!">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/laminate/page2/hk3004b.jpg" alt="GT 404 Nightfall Hickory Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> GT 404 Nightfall Hickory </strong>
      </a>
    </div>
  </div>
  <hr>
  <nav aria-label="Page Navigation">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a class="u-pagination-v1__item u-pagination-v1-1 g-pa-12-21" routerLink="/laminate/page/1" routerLinkActive="active" aria-label="Previous">
          <span aria-hidden="true">
            <i class="fa fa-angle-left"></i>
          </span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="list-inline-item g-hidden-sm-down">
        <a class="u-pagination-v1__item u-pagination-v1-1 g-pa-12-19" routerLink="/laminate/page/1" routerLinkActive="active">1</a>
      </li>
      <li class="list-inline-item g-hidden-sm-down">
        <a class="u-pagination-v1__item u-pagination-v1-1  u-pagination-v1-1--active g-pa-12-19" routerLink="/laminate/page/2" routerLinkActive="active">2</a>
      </li>
      <li class="list-inline-item g-hidden-sm-down">
        <a class="u-pagination-v1__item u-pagination-v1-1 g-pa-12-19" routerLink="/laminate/page/3" routerLinkActive="active">3</a>
      </li>
      <li class="list-inline-item g-hidden-sm-down">
        <a class="u-pagination-v1__item u-pagination-v1-1 g-pa-12-19" routerLink="/laminate/page/4" routerLinkActive="active">4</a>
      </li>
      <li class="list-inline-item">
        <a class="u-pagination-v1__item u-pagination-v1-1 g-pa-12-21" routerLink="/laminate/page/3" routerLinkActive="active" aria-label="Next">
          <span aria-hidden="true">
            <i class="fa fa-angle-right"></i>
          </span>
          <span class="sr-only">Next</span>
        </a>
      </li>
      <li class="list-inline-item float-right">
        <span class="u-pagination-v1__item-info g-pa-12-19">Page 2 of 4</span>
      </li>
    </ul>
  </nav>
</div>
  

