<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall g-mt-70" data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" style="height: 140%; background-image: url(../../../../assets/img/pages/about/lr-236.jpg);"></div>
  <div class="container g-color-white text-center g-py-120">
    <h3 class="h1 g-font-weight-600 text-uppercase mb-2">About us</h3>
  </div>
</section>
<div class="container g-py-25">
  <div class="row">
    <div class="col">
      <p class="lead">JustFloored offers <strong>superior craftsmanship</strong> with low prices!</p>
      <ul>
        <li>We respect you, your intelligence and your property.</li>
        <li>Our prices are our lowest year round and they are lower than our competitors' 40%, 50% and even 60% off.</li>
        <li>We will never pressure you to sign the contract today, you can take your time to make an informed decision.</li>
        <li>We're not wearing pink tutus to brag about our charitable contributions, we do it anonymously and have a few noble causes and organizations we support.</li>
        <li>We're not increasing the product price so much that we claim to give you free installation, you are way smarter than that.</li>
        <li>The work is done by our own in-house trained employees, not subcontractors.</li>
      </ul>
    </div>
  </div>

  <div class="u-heading-v2-3--bottom g-my-30">
    <h2 class="u-heading-v2__title g-mb-10">Our Misson</h2>
  </div>
  <p>We at Just Floored  are committed in providing our customers the highest quality flooring that fully meets your needs at competitive prices. We strive to attain the highest level of customer satisfaction, and take pride in going the extra mile. Try us! We service the entire Metro Atlanta area including Marietta, Alpharetta, Cumming, Norcross, Sugar Hill, Atlanta, Buford, Suwanee and more. We service Jacksonvile, Florida with areas including Orlando, Northside, Orange Park, Riverside, Southside, San Marco, Winter Park, Neptune Beach, Atlantic Beach and Jacksonville Beach. We also serve the Houston, Texas metropolis area including Katy, Sugar Land, Richmond, The Woodlands, Oak Ridge North, Manvel, Pearland, Friendswood.</p>

  <div class="u-heading-v2-3--bottom g-my-30">
    <h2 class="u-heading-v2__title g-mb-10">Our Experience</h2>
  </div>
  <p>Just Floored has been in business for over 20 years providing hardwood, laminate, ceramic, natural stone and other types of flooring. Our services include <strong>floor laying</strong>, <strong>dustless sanding</strong> using <strong>low and no VOC</strong> products. We can also provide and install all types of vinyl. A few highlights of our experience in the flooring industry:</p>
  <ul>
    <li>Installed wide variety of commercial and residential custom floors.</li>
    <li>Possess long term relationships with professional experienced installers.</li>
    <li>Experienced floor specialists with valuable expert advice, that will help you make the right choice.</li>
  </ul>
</div>