<section class="dzsparallaxer auto-init height-is-based-on-content use-loading" data-options="{direction: 'reverse', settings_mode_oneelement_max_offset: '150'}">
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_4--after" style="height: 140%; background-image: url(../../../../assets/img/pages/free-quote/bedroom-153.jpg);"></div>

  <div class="container g-py-200--md g-py-80 mobile-container-bigger mobile-padding-top">
    <div class="u-heading-v2-3--bottom g-mb-30 g-color-white mobile-margin-left">
      <h2 class="u-heading-v2__title g-mb-10">Schedule an Appointment</h2>
    </div>
    <app-multi-step-form></app-multi-step-form>
  </div>
</section>
