<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall g-mt-70" data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" style="height: 140%; background-image: url(../../../../assets/img/pages/floors/44287734_ml_0.jpg);"></div>
  <div class="container g-color-white text-center g-py-120">
    <h3 class="h1 g-font-weight-600 text-uppercase mb-2">Vinyl</h3>
  </div>
</section>
<div class="container g-mt-70">
  <div class="row text-center">
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " href="#!">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/vinyl/page2/wf604d.jpg" alt="WF604 Alexa Oak Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> WF604 Alexa Oak </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " href="#!">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/vinyl/page2/wf605d.jpg" alt="WF605 Springfield Oak Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> WF605 Springfield Oak </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " href="#!">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/vinyl/page2/wf606d.jpg" alt="WF606 Blackstone Oak Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> WF606 Blackstone Oak </strong>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " href="#!">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/vinyl/page2/WF801e.JPG" alt="WF801 Western Oak Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> WF801 Western Oak </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " href="#!">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/vinyl/page2/WF802d.JPG" alt="WF802 Natural Walnut Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> WF802 Natural Walnut </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " href="#!">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/vinyl/page2/WF803e.JPG" alt="WF803 Coffee Maple Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> WF606 Coffee Maple </strong>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " href="#!">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/vinyl/page2/WF804d.JPG" alt="WF804 Ash Oak Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> WF804 Ash Oak </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " href="#!">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/vinyl/page2/WF901d.jpg" alt="WF901 Amber Acacia Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> WF802 Natural Walnut </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " href="#!">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/vinyl/page2/wf902d.jpg" alt="WF902 Nature Acacia Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> WF902 Nature Acacia </strong>
      </a>
    </div>
  </div>
  <hr>
  <nav aria-label="Page Navigation">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a class="u-pagination-v1__item u-pagination-v1-1 g-pa-12-21" routerLink="/vinyl/page/1" routerLinkActive="active" aria-label="Previous">
          <span aria-hidden="true">
            <i class="fa fa-angle-left"></i>
          </span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="list-inline-item g-hidden-sm-down">
        <a class="u-pagination-v1__item u-pagination-v1-1 g-pa-12-19" routerLink="/vinyl/page/1" routerLinkActive="active">1</a>
      </li>
      <li class="list-inline-item g-hidden-sm-down">
        <a class="u-pagination-v1__item u-pagination-v1-1 u-pagination-v1-1--active g-pa-12-19" routerLink="/vinyl/page/2" routerLinkActive="active">2</a>
      </li>
      <li class="list-inline-item g-hidden-sm-down">
        <a class="u-pagination-v1__item u-pagination-v1-1 g-pa-12-19" routerLink="/vinyl/page/3" routerLinkActive="active">3</a>
      </li>
      <li class="list-inline-item">
        <a class="u-pagination-v1__item u-pagination-v1-1 g-pa-12-21" routerLink="/vinyl/page/3" routerLinkActive="active" aria-label="Next">
          <span aria-hidden="true">
            <i class="fa fa-angle-right"></i>
          </span>
          <span class="sr-only">Next</span>
        </a>
      </li>
      <li class="list-inline-item float-right">
        <span class="u-pagination-v1__item-info g-pa-12-19">Page 2 of 3</span>
      </li>
    </ul>
  </nav>
</div>