<div class="g-bg-white">
  <div class="progress rounded-0 g-mb-20" *ngIf="step === 1">
    <div class="progress-bar u-progress-bar--xs" role="progressbar" style="width: 25%" aria-valuenow="13" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="progress rounded-0 g-mb-20" *ngIf="step === 2">
    <div class="progress-bar u-progress-bar--xs" role="progressbar" style="width: 50%" aria-valuenow="13" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="progress rounded-0 g-mb-20" *ngIf="step === 3">
    <div class="progress-bar u-progress-bar--xs" role="progressbar" style="width: 75%" aria-valuenow="13" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="progress rounded-0 g-mb-20" *ngIf="step === 4">
    <div class="progress-bar u-progress-bar--xs" role="progressbar" style="width: 100%" aria-valuenow="13" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="row text-center text-uppercase step-indicator">
    <div class="col g-mb-50">
      <h4 class="h6 g-color-gray-dark-v4" *ngIf="step !== 1">Start</h4>
      <h4 class="h6 g-color-primary" *ngIf="step === 1">Start</h4>
    </div>
  
    <div class="col g-mb-50">
      <h4 class="h6 g-color-gray-dark-v4" *ngIf="step !== 2">Interests</h4>
      <h4 class="h6 g-color-primary" *ngIf="step === 2">Interests</h4>
    </div>
  
    <div class="col g-mb-50">
      <h4 class="h6 g-color-gray-dark-v4" *ngIf="step !== 3">Contacts</h4>
      <h4 class="h6 g-color-primary" *ngIf="step === 3">Contacts</h4>
    </div>
  
    <div class="col g-mb-50">
      <h4 class="h6 g-color-gray-dark-v4" *ngIf="step !== 4">Complete</h4>
      <h4 class="h6 g-color-primary" *ngIf="step === 4">Complete</h4>
    </div>
  </div>
  <div id="step1" *ngIf="step === 1">
    <form (submit)="step1()" [formGroup]="formOne" #formOneValidate="ngForm" class="g-pa-30 g-mb-30">
      <h4 class="h6 g-font-weight-700 g-mb-10">Property Type:</h4>
      <div class="btn-group justified-content g-mb-5">
        <label class="u-check">
          <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="propertyType" formControlName="propertyType" value="home" type="radio" checked="">
          <span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked rounded-0">Home</span>
        </label>
        <label class="u-check">
          <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="propertyType" formControlName="propertyType" value="business" type="radio">
          <span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked g-brd-left-none--md rounded-0">Business</span>
        </label>
      </div>
      <div class="g-mb-20">
        <small class="g-color-red" *ngIf="formOne.hasError('required', 'propertyType') && formOneValidate.submitted">This is a required field.</small>
      </div>
      <h4 class="h6 g-font-weight-700 g-mb-10">Choose a Date:</h4>
      <div class="form-group g-mb-5">
        <div class="input-group g-brd-primary--focus">
          <ngx-datepicker formControlName="date" [options]="datepickerOptions"></ngx-datepicker>
          <div class="input-group-append">
            <span class="input-group-text rounded-0 g-color-gray-dark-v5"><i class="fa fa-calendar"></i></span>
          </div>
        </div>
      </div>
      <div class="g-mb-20">
        <small class="g-color-red" *ngIf="formOne.hasError('required', 'date') && formOneValidate.submitted">This is a required field.</small>
      </div>
      <h4 class="h6 g-font-weight-700 g-mb-10">Choose a Time:</h4>
      <div class="btn-group justified-content g-mb-5">
        <label class="u-check">
          <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="time" formControlName="time" value="9am - 11am" type="radio" checked="">
          <span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked rounded-0">9am - 11am</span>
        </label>
        <label class="u-check">
          <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="time" formControlName="time" value="11am - 1pm" type="radio">
          <span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked g-brd-left-none--md rounded-0">11am - 1pm</span>
        </label>
        <label class="u-check">
          <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="time" formControlName="time" value="1pm - 3pm" type="radio">
          <span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked g-brd-left-none--md rounded-0">1pm - 3pm</span>
        </label>
        <label class="u-check">
          <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="time" formControlName="time" value="3pm - 5pm" type="radio">
          <span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked g-brd-left-none--md rounded-0">3pm - 5pm</span>
        </label>
      </div>
      <div class="g-mb-40">
        <small class="g-color-red" *ngIf="formOne.hasError('required', 'time') && formOneValidate.submitted">This is a required field.</small>
      </div>
      <button type="submit" class="btn btn-primary g-mr-10 g-mb-15 rounded-0">Continue</button>
    </form>
  </div>
  <div id="step2" *ngIf="step === 2">
    <form (submit)="step2()" [formGroup]="formTwo" #formTwoValidate="ngForm" class="g-pa-30 g-mb-30">
      <h4 class="h6 g-font-weight-700 g-mb-10">Products of Interest:</h4>
      <div class="form-group g-mb-5">
        <select class="form-control rounded-0" formControlName="productsOfInterest" [(ngModel)]="productsOfInterestOther">
          <option>Wood Floor Installation</option>
          <option>Ceramic / Porcelain / Stone Installation</option>
          <option>Wood Floor Repair</option>
          <option>Ceramic / Porcelain / Stone Installation</option>
          <option>Wood Floor Sanding and Finishing</option>
          <option>Subfloor Leveling</option>
          <option>Other</option>
        </select>
      </div>
      <div class="g-mb-20">
        <small class="g-color-red" *ngIf="formTwo.hasError('required', 'productsOfInterest') && formTwoValidate.submitted">This is a required field.</small>
      </div>
      <div class="form-group g-mb-20" *ngIf="productsOfInterestOther === 'Other'">
        <input class="form-control form-control-md rounded-0" type="text" formControlName="productsOfInterestOther" placeholder="If 'Other', what are you looking for?">
      </div>
      <h4 class="h6 g-font-weight-700 g-mb-10">Room interested in:</h4>
      <div class="btn-group justified-content g-mb-5" formGroupName="roomsOfInterestGroup">
        <label class="u-check">
          <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" formControlName="basementCheckbox" type="checkbox">
          <span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked rounded-0">Basement</span>
        </label>
        <label class="u-check">
          <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" formControlName="bathroomCheckbox" type="checkbox">
          <span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked g-brd-left-none--md rounded-0">Bathroom</span>
        </label>
        <label class="u-check">
          <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" formControlName="bedroomCheckbox" type="checkbox">
          <span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked g-brd-left-none--md rounded-0">Bedroom</span>
        </label>
        <label class="u-check">
          <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" formControlName="diningRoomCheckbox" type="checkbox">
          <span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked g-brd-left-none--md rounded-0">Dining</span>
        </label>
      </div>
      <div class="btn-group justified-content g-mb-5" formGroupName="roomsOfInterestGroup">
        <label class="u-check">
          <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" formControlName="familyRoomCheckbox" type="checkbox">
          <span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked rounded-0">Family</span>
        </label>
        <label class="u-check">
          <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" formControlName="livingRoomCheckbox" type="checkbox">
          <span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked g-brd-left-none--md rounded-0">Living</span>
        </label>
        <label class="u-check">
          <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" formControlName="kitchenCheckbox" type="checkbox">
          <span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked g-brd-left-none--md rounded-0">Kitchen</span>
        </label>
        <label class="u-check">
          <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" formControlName="officeCheckbox" type="checkbox">
          <span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked g-brd-left-none--md rounded-0">Office</span>
        </label>
      </div>
      <div class="btn-group justified-content g-mb-4" formGroupName="roomsOfInterestGroup">
        <label class="u-check">
          <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" formControlName="patioCheckbox" type="checkbox">
          <span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked rounded-0">Patio</span>
        </label>
        <label class="u-check">
          <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" formControlName="hallwayCheckbox" type="checkbox">
          <span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked g-brd-left-none--md rounded-0">Hallway</span>
        </label>
        <label class="u-check">
          <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" formControlName="otherCheckbox" type="checkbox">
          <span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked g-brd-left-none--md rounded-0">Other</span>
        </label>
      </div>
      <div class="g-mb-40">
        <small class="g-color-red" *ngIf="formTwo.hasError('requireAtLeastOne', 'roomsOfInterestGroup') && formTwoValidate.submitted">This is a required field.</small>
      </div>
      <button type="button" (click)="back()" class="btn btn-secondary g-mr-10 g-mb-15 rounded-0">Back</button>
      <button type="submit" class="btn btn-primary g-mr-10 g-mb-15 rounded-0">Continue</button>
    </form>
  </div>
  <div id="step3" *ngIf="step === 3">
    <form (submit)="step3()" [formGroup]="formThree" #formThreeValidate="ngForm" class="g-pa-30 g-mb-30">
      <div class="form-group g-mb-5">
        <label class="h6 g-font-weight-700 g-mb-10">Full Name:</label>
        <input class="form-control form-control-md rounded-0" type="text" formControlName="fullName">
      </div>
      <div class="g-mb-20">
        <small class="g-color-red" *ngIf="formThree.hasError('required', 'fullName') && formThreeValidate.submitted">This is a required field.</small>
      </div>
      <div class="form-group g-mb-5">
        <label class="h6 g-font-weight-700 g-mb-10">Email:</label>
        <input class="form-control form-control-md rounded-0" type="email" formControlName="email">
      </div>
      <div class="g-mb-20">
        <small class="g-color-red" *ngIf="formThree.hasError('required', 'email') && formThreeValidate.submitted">This is a required field.</small>
      </div>
      <div class="g-mb-20">
        <small class="g-color-red" *ngIf="formThree.hasError('email', 'email') && !formThree.hasError('required', 'email') && formThreeValidate.submitted">Please enter an email.</small>
      </div>
      <div class="form-group g-mb-5">
        <label class="h6 g-font-weight-700 g-mb-10">Phone Number:</label>
        <div class="input-group g-brd-primary--focus">
          <input class="form-control form-control-md rounded-0" type="text" placeholder="(XXX) XXX-XXXX" formControlName="phone">
        </div>
      </div>
      <div class="g-mb-20">
        <small class="g-color-red" *ngIf="formThree.hasError('required', 'phone') && formThreeValidate.submitted">This is a required field.</small>
      </div>
      <div class="form-group g-mb-5">
        <label class="h6 g-font-weight-700 g-mb-10">Street Address:</label>
        <input class="form-control form-control-md rounded-0" type="text" formControlName="street">
      </div>
      <div class="g-mb-20">
        <small class="g-color-red" *ngIf="formThree.hasError('required', 'street') && formThreeValidate.submitted">This is a required field.</small>
      </div>
      <div class="row justify-content-between">
        <div class="col" style="width:33%; min-width:190px">
          <div class="form-group g-mb-5">
            <label class="h6 g-font-weight-700 g-mb-10">City:</label>
            <input class="form-control form-control-md rounded-0" type="text" formControlName="city">
          </div>
          <div class="g-mb-20">
            <small class="g-color-red" *ngIf="formThree.hasError('required', 'city') && formThreeValidate.submitted">This is a required field.</small>
          </div>
        </div>
        <div class="col" style="width:33%; min-width:190px">
          <div class="form-group g-mb-5">
            <label class="h6 g-font-weight-700 g-mb-10">State:</label>
            <select class="form-control form-control-md rounded-0" formControlName="state">
              <option value="AL">Alabama</option>
              <option value="AK">Alaska</option>
              <option value="AZ">Arizona</option>
              <option value="AR">Arkansas</option>
              <option value="CA">California</option>
              <option value="CO">Colorado</option>
              <option value="CT">Connecticut</option>
              <option value="DE">Delaware</option>
              <option value="DC">District Of Columbia</option>
              <option value="FL">Florida</option>
              <option value="GA">Georgia</option>
              <option value="HI">Hawaii</option>
              <option value="ID">Idaho</option>
              <option value="IL">Illinois</option>
              <option value="IN">Indiana</option>
              <option value="IA">Iowa</option>
              <option value="KS">Kansas</option>
              <option value="KY">Kentucky</option>
              <option value="LA">Louisiana</option>
              <option value="ME">Maine</option>
              <option value="MD">Maryland</option>
              <option value="MA">Massachusetts</option>
              <option value="MI">Michigan</option>
              <option value="MN">Minnesota</option>
              <option value="MS">Mississippi</option>
              <option value="MO">Missouri</option>
              <option value="MT">Montana</option>
              <option value="NE">Nebraska</option>
              <option value="NV">Nevada</option>
              <option value="NH">New Hampshire</option>
              <option value="NJ">New Jersey</option>
              <option value="NM">New Mexico</option>
              <option value="NY">New York</option>
              <option value="NC">North Carolina</option>
              <option value="ND">North Dakota</option>
              <option value="OH">Ohio</option>
              <option value="OK">Oklahoma</option>
              <option value="OR">Oregon</option>
              <option value="PA">Pennsylvania</option>
              <option value="RI">Rhode Island</option>
              <option value="SC">South Carolina</option>
              <option value="SD">South Dakota</option>
              <option value="TN">Tennessee</option>
              <option value="TX">Texas</option>
              <option value="UT">Utah</option>
              <option value="VT">Vermont</option>
              <option value="VA">Virginia</option>
              <option value="WA">Washington</option>
              <option value="WV">West Virginia</option>
              <option value="WI">Wisconsin</option>
              <option value="WY">Wyoming</option>
            </select>
          </div>
          <div class="g-mb-20">
            <small class="g-color-red" *ngIf="formThree.hasError('required', 'state') && formThreeValidate.submitted">This is a required field.</small>
          </div>
        </div>
        <div class="col" style="width:33%; min-width:190px">
          <div class="form-group g-mb-5">
            <label class="h6 g-font-weight-700 g-mb-10">Zip Code:</label>
            <input class="form-control form-control-md rounded-0" type="text" formControlName="zip">
          </div>
          <div class="g-mb-20">
            <small class="g-color-red" *ngIf="formThree.hasError('required', 'zip') && formThreeValidate.submitted">This is a required field.</small>
          </div>
        </div>
      </div>
      <h4 class="h6 g-font-weight-700 g-mb-10">Building Type:</h4>
      <select class="form-control form-control-md rounded-0 g-mb-5" formControlName="buildingType">
        <option value="single">Single Family</option>
        <option value="condominium">Condominium</option>
        <option value="apartment">Apartment</option>
        <option value="business">Business</option>
      </select>
      <div class="g-mb-20">
        <small class="g-color-red" *ngIf="formThree.hasError('required', 'buildingType') && formThreeValidate.submitted">This is a required field.</small>
      </div>
      <h4 class="h6 g-font-weight-700 g-mb-10">Do you own or rent?</h4>
      <div class="btn-group justified-content g-mb-5">
        <label class="u-check">
          <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="ownOrRent" formControlName="ownOrRent" value="own" type="radio">
          <span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked rounded-0">Own</span>
        </label>
        <label class="u-check">
          <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="ownOrRent" formControlName="ownOrRent" value="rent" type="radio">
          <span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked g-brd-left-none--md rounded-0">Rent</span>
        </label>
      </div>
      <div class="g-mb-20">
        <small class="g-color-red" *ngIf="formThree.hasError('required', 'ownOrRent') && formThreeValidate.submitted">This is a required field.</small>
      </div>
      <div class="form-group g-mb-5">
        <re-captcha formControlName="captcha" name="captcha" siteKey="6LesYtwaAAAAAMMIJo877A1QXzM7gHPD6AcQEYol"></re-captcha>
      </div>
      <div class="g-mb-40">
        <small class="g-color-red" *ngIf="formThree.hasError('required', 'captcha') && formThreeValidate.submitted">Captcha Error</small>
      </div>
      <button type="button" (click)="back()" class="btn btn-secondary g-mr-10 g-mb-15 rounded-0">Back</button>
      <button type="submit" class="btn btn-primary g-mr-10 g-mb-15 rounded-0">Continue</button>
    </form>
  </div>
  <div id="step4" *ngIf="step === 4">
    <div class="g-pa-30">
      <h4 class="h6 g-font-weight-700 g-mb-25">Thank you! Your submission has been sent.</h4>
      <a class="btn btn-primary g-mr-10 g-mb-15 rounded-0" routerLink="/">Return to Home Page</a>
    </div>
  </div>
</div>