<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall g-mt-70" data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" style="height: 140%; background-image: url(../../../../assets/img/pages/floors/44287734_ml_0.jpg);"></div>
  <div class="container g-color-white text-center g-py-120">
    <h3 class="h1 g-font-weight-600 text-uppercase mb-2">Services</h3>
  </div>
</section>
<section class="container g-py-25">
  <div class="row">
    <div class="col-md-8">
      <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
      </div>
      <p class="lead">Just Floored, LLC has been providing floor laying and refinishing services for over 20 years. Ask about our low or no VOC products which better resist wear and tear. We also feature the revolutionary all natural, easy to maintain, commercial grade, low VOCs or no VOC finish made by Monocoat. Service areas include Buford, Norcross, Sugar Hill, Suwanee, Marietta, Sandy Springs, Alpharetta, Cumming and much more. We also service Orlando, Florida and Winter Park, as well as Jacksonvile, Florida with areas including Northside, Orange Park, Riverside, Southside, San Marco, Neptune Beach, Atlantic Beach and Jacksonville Beach, as well as the Houston, Texas metropolis area including Katy, Sugar Land, Richmond, The Woodlands, Oak Ridge North, Manvel, Pearland, Friendswood and more.</p>
    </div>
  
    <div class="col-md-4 g-mt-50">
      <ul>
        <li>Wood Flooring Installation</li>
        <li>Stone &amp; Tile Installation</li>
        <li>Floor Refinishing</li>
        <li>Floor Repair &amp; Buffing</li>
        <li>Subfloor Leving</li>
      </ul>
      <a class="btn btn-md u-btn-outline-primary rounded-0 g-mt-80 w-100" routerLink="/free-quote">Get A Free Quote</a>
    </div>
  </div>

  <hr class="g-my-50">

  <div class="row">
    <div class="col-lg-4 g-mb-30">
      <article class="u-shadow-v1-4">
        <img class="img-fluid w-100" src="../../../../assets/img/pages/services/install-44287734_ml.jpg" alt="Hardwood installation">
        <div class="g-bg-white g-pa-25">
          <h3 class="h2 g-font-weight-300 g-mb-40">
            Flooring Installation
          </h3>
          <p class="lead g-pb-30">Our <strong>floor laying</strong> includes installing all types of hardwood, engineered, cork, laminate, tile/stone, carpet and vinyl. Custom designs available. We service the entire Metro Atlanta area as well as the Jacksonville, Florida area, the Houston area and the Charlotte, North Carolina area.</p>
        </div>
      </article>
    </div>
    <div class="col-lg-4 g-mb-30">
      <article class="u-shadow-v1-4">
        <img class="img-fluid w-100" src="../../../../assets/img/pages/services/refinish-6739635_ml.jpg" alt="Sanded and Finished hardwood flooring">
        <div class="g-bg-white g-pa-25">
          <h3 class="h2 g-font-weight-300 g-mb-40">
            Sanding and Finishing
          </h3>
          <p class="lead">Just Floored is proud to offer <strong>dustless sanding</strong> to help keep your home clean and fume free as well as floor laying. We sand any solid hardwoods, stain and finish with three coats of ployurethane. Water based low VOC finishes are also available, their main advantage being that they dry very quickly.</p>
        </div>
      </article>
    </div>
    <div class="col-lg-4 g-mb-30">
      <article class="u-shadow-v1-4">
        <img class="img-fluid w-100" src="../../../../assets/img/pages/services/services-28401217_ml.jpg" alt="Recoated and Buffed hardwood flooring">
        <div class="g-bg-white g-pa-25">
          <h3 class="h2 g-font-weight-300 g-mb-40">
            Recoating &amp; Buffing
          </h3>
          <p class="lead g-pb-55">This procedure is not always available, it depends on the finish that's currently applied on the floors, but when doable, we light sand (buff) the surface and apply one or two coats of finish. We offer both dustless sanding and low VOC products.</p>
        </div>
      </article>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 g-mb-30">
      <article class="u-shadow-v1-4">
        <img class="img-fluid w-100" src="../../../../assets/img/pages/services/repairs-5597813_ml.jpg" alt="Repaired hardwood flooring">
        <div class="g-bg-white g-pa-25">
          <h3 class="h2 g-font-weight-300 g-mb-40">
            Floor Repairs
          </h3>
          <p class="lead g-pb-60">We do all sorts of repairs to all kinds of hardwoods and tile/stone. We can save you money by repairing your existing flooring and restoring them to their original beauty</p>
        </div>
      </article>
    </div>
    <div class="col-lg-4 g-mb-30">
      <article class="u-shadow-v1-4">
        <img class="img-fluid w-100" src="../../../../assets/img/pages/services/leveling-6739673_l.jpg" alt="Leveled hardwood flooring">
        <div class="g-bg-white g-pa-25">
          <h3 class="h2 g-font-weight-300 g-mb-40">
            Subfloor Leveling
          </h3>
          <p class="lead g-pb-30">For an even surface and to avoid unnecessary tension on the flooring joints, it is recommended the subfloor be as level as possible and in case yours needs this service, we can do partial or complete leveling.</p>
        </div>
      </article>
    </div>
    <div class="col-lg-4 g-mb-30">
      <article class="u-shadow-v1-4">
        <img class="img-fluid w-100" src="../../../../assets/img/pages/services/tile-6733077_ml.jpg" alt="Tile flooring">
        <div class="g-bg-white g-pa-25">
          <h3 class="h2 g-font-weight-300 g-mb-40">
            Stone &amp; Tile
          </h3>
          <p class="lead">Stone or tile installation for kitchen and baths include floors, backsplashes and other areas. Choose a custom pattern like basketweave, herringbone, brick or diamond with the use of varying sizes of tile or stone.</p>
        </div>
      </article>
    </div>
  </div>
</section>