<div class="g-mb-60">
  <h3 class="h4 g-color-black g-font-weight-600">Just Floored Service Areas</h3>
  <p>
    <strong>Georgia</strong>:
    <a routerLink="/service-area/atlanta-hardwood-installers">Atlanta</a> &#124;
    <a routerLink="/service-area/floor-installation-alpharetta">Alpharetta</a> &#124;
    <a routerLink="/service-area/wood-floors-athens-georgia">Athens</a> &#124;
    <a routerLink="/service-area/braselton-floor-installation">Braselton</a> &#124;
    <a routerLink="/service-area/cumming-floor-installation">Cumming</a> &#124;
    <a routerLink="/service-area/dacula-floor-installation">Dacula</a> &#124;
    <a routerLink="/service-area/decatur-floor-installer">Decatur</a> &#124;
    <a routerLink="/service-area/duluth-floor-installation">Duluth</a> &#124;
    <a routerLink="/service-area/dunwoody-floor-installation-service">Dunwoody</a> &#124;
    <a routerLink="/service-area/flowery-branch-floor-installer">Flowery Branch</a> &#124;
    <a routerLink="/service-area/hoschton-flooring-contractor">Hoschton</a> &#124;
    <a routerLink="/service-area/flooring-installations-johns-creek">Johns Creek</a> &#124;
    <a routerLink="/service-area/kennesaw-floor-installation">Kennesaw</a> &#124;
    <a routerLink="/service-area/lilburn-wood-floor-installation">Lilburn</a> &#124;
    <a routerLink="/service-area/loganville-floor-installation">Loganville</a> &#124;
    <a routerLink="/service-area/hardwood-floor-installation-marietta-ga">Marietta</a> &#124;
    Norcross &#124;
    <a routerLink="/service-area/buford-flooring-contractor">Buford</a> &#124;
    <a routerLink="/service-area/peachtree-corners-hardwood-floor-installation">Peachtree Corners</a> &#124;
    <a routerLink="/service-area/roswell-floor-installation">Roswell</a> &#124;
    <a routerLink="/service-area/floor-installer-sandy-springs">Sandy Springs</a> &#124;
    <a href="#!">Suwanee</a> &#124;
    <a href="#!">Sugar Hill</a> &#124;
    <a href="#!">Smyrna</a> &#124;
    <a href="#!">Vinings</a> &#124;
    and more.
  </p>
  <p>
    <strong>Florida</strong> (with areas including Northside):
    <a routerLink="/service-area/jacksonville-hardwood-floors">Jacksonville</a> &#124;
    <a href="#!">St. Augustine</a> &#124;
    <a href="#!">Orange Park</a> &#124;
    <a routerLink="/service-area/palm-valley-floor-installation">Palm Valley</a> &#124;
    <a routerLink="/service-area/ponte-vedra-florida">Ponte Vedra</a> &#124;    
    Riverside &#124;
    Southside &#124;
    San Marco &#124;
    Neptune Beach &#124;
    Atlantic beach
  </p>
  <p>
    <strong>Texas</strong>:
    <a routerLink="/service-area/houston-floor-installation">Houston</a> &#124;
    <a href="#!">The Woodlands</a> &#124;
    Katy &#124;
    Sugar Land &#124;
    Richmond &#124;
    Oak Ridge North &#124;
    Manvel &#124;
    Pearland &#124;
    Friendswood
  </p>
  <p>
    <strong>North Carolina</strong>:
    <a href="#!">Charlotte</a> &#124;
    <a href="#!">Ballantyle</a> &#124;
    Troutman &#124; Sherrils Ford &#124; Denver &#124; Maiden &#124; Hickory &#124; Taylorville &#124; Morresville &#124; Davidson &#124; Statesville &#124; Mocksville &#124; Lexington &#124; Cleveland &#124; Salisbury &#124; Concord &#124; Huntersville &#124; Gastonia &#124; Shelby &#124; Rock Hill &#124; Ft. Mill
  </p>
</div>
