.just-floored-logo {
    font-weight: 800;
    font-size: 21px;
}

.color-orange {
    color: #ee8d39 !important;
}

.color-gray {
    color: #858585 !important;
}

.text-shadow {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

.what-we-do-image {
    height: 300px;
}

.floor-link {
    color: #555;
}

.floor-link:hover {
    text-decoration: none;
}
