.just-floored-logo {
    font-weight: 800;
    font-size: 21px;
}

.color-orange {
    color: #ee8d39 !important;
}

.color-gray {
    color: #858585 !important;
}

.text-shadow {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
}

.what-we-do-image {
    height: 300px;
}

.floor-link {
    color: #555;
}

.floor-link:hover {
    text-decoration: none;
}

.img-flip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.mh-525 {
    max-height: 525px;
    min-width: 350px;
}

.floated {
    float: left;
    margin: 0 15px 15px 0;
}

@media screen and (max-width: 1200px) {
    .mh-525 {
        max-height: 435px;
        min-width: 290px;
    }
}

@media screen and (max-width: 992px) {
    .mh-525 {
        max-height: 315px;
        min-width: 210px;
    }
}

@media screen and (max-width: 768px) {
    .mh-525 {
        max-height: 765px;
        min-width: 510px;
    }
}

@media screen and (max-width: 576px) {
    .mh-525 {
        height: auto;
        min-width: none;
        width: auto;
    }
}