<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall g-mt-70" data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" style="height: 140%; background-image: url(../../../../assets/img/pages/floors/44287734_ml_0.jpg);"></div>
  <div class="container g-color-white text-center g-py-120">
    <h3 class="h1 g-font-weight-600 text-uppercase mb-2">Engineered</h3>
  </div>
</section>
<div class="container g-mt-70">
  <div class="row text-center">
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover" href="#!">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../assets/img/pages/engineered/ACR042e_0.JPG" alt="Acacia Cologne ACR042 Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> Acaia (Cologne) - ACR042 </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover g-bg-black-opacity-0_5--after" href="#!">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../assets/img/pages/engineered/ACR044e_0.jpg" alt="Acacia Lisbon ACR044 Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> Acaia (Lisbon) - ACR044 </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover g-bg-black-opacity-0_5--after" href="#!">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../assets/img/pages/engineered/BR-6Ld.JPG" alt="Costa Beach Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> Costa Beach - 6L </strong>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover g-bg-black-opacity-0_5--after" href="#!">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../assets/img/pages/engineered/HIR002f.jpg" alt="Hickory Klamath Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> Hickory (Klamath) - HIR002 </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover g-bg-black-opacity-0_5--after" href="#!">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../assets/img/pages/engineered/HIR001d.JPG" alt="Hickory Mojave Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> Hickory (Mojave) - HIR001 </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover g-bg-black-opacity-0_5--after" href="#!">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../assets/img/pages/engineered/HIR003d_0.jpg" alt="Hickory Omak Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> Hickory (Omak) - HIR003 </strong>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover g-bg-black-opacity-0_5--after" href="#!">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../assets/img/pages/engineered/BR-6Pe_0.jpg" alt="Santa Barbara Beach Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> Santa Barbara Beach - 6P </strong>
      </a>
    </div>
  </div>
</div>
  
