<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall g-mt-70" data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" style="height: 140%; background-image: url(../../../../assets/img/pages/floors/44287734_ml_0.jpg);"></div>
  <div class="container g-color-white text-center g-py-120">
    <h3 class="h1 g-font-weight-600 text-uppercase mb-2">Cork Flooring</h3>
  </div>
</section>
<section class="container g-py-25">
  <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
    <h2 class=" g-mb-10">Cushy <span class="color-orange">Cork</span> Flooring</h2>
  </div>

  <img src="../../../../../../assets/img/pages/floors/cork.png" class="g-mb-50" width="40%">

  <div class="row g-pa-15">
    <h4 class="g-font-weight-200">Surprisingly Beautiful Cork Flooring</h4>
    <p>The majority of cork used for flooring actually comes from the bark of the cork oak tree, or Quercus Suber, native to the Mediterranean region. The bark is hand-harvested every nine years, leaving a protective inner layer of bark that allows the tree to continue to grow and regenerate new bark. After drying in the forest for several months, the bark is transported to a factory, where wine bottle corks are punched out of the bark. The leftover material, or post-industrial waste, is boiled and ground up, then compressed using adhesive resins.</p>
    <p>This ground-up product can be cut and used as a final flooring piece or for some unique patterns, such as pieces of shaved bark used as a veneer with the ground-u material serving as the backing. some cork flooring planks include a high-density fiberboard within them as well.</p>
    <p>Cork flooring comes in a wide variety of styles offering a range of design possibilities. There are as many as 40 different colors available and shapes ranging from squares and rectangles to hexagons. quality of cork and the Intricacy of the pattern both influence the price of cork flooring.</p>
  </div>
  
</section>