<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall g-mt-70" data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" style="height: 140%; background-image: url(../../../../assets/img/pages/floors/44287734_ml_0.jpg);"></div>
  <div class="container g-color-white text-center g-py-120">
    <h3 class="h1 g-font-weight-600 text-uppercase mb-2">Laminate</h3>
  </div>
</section>
<div class="container g-mt-70">
  <div class="row text-center">
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " routerLink="/laminate/gt702-grand-oak" routerLinkActive="active">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/laminate/page3/vc1002c.jpg.JPG" alt="GT 702 Grand Oak Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> GT 702 Grand Oak </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " routerLink="/laminate/gt703-mahogany" routerLinkActive="active">
        <img class="img-fluid u-block-hover__main--zoom-v1 mh-525" src="../../../../../assets/img/pages/laminate/page3/vc1003d.jpg.JPG" alt="GT 703 Mahogany Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> GT 703 Mahogany </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " routerLink="/laminate/gt705-bronze-oak" routerLinkActive="active">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/laminate/page3/vc1005d.jpg.JPG" alt="GT 705 Bronze Oak Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> GT 705 Bronze Oak </strong>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " routerLink="/laminate/gt706-winchester-oak" routerLinkActive="active">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/laminate/page3/vc1006d.jpg.JPG" alt="GT 706 Winchester Oak Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> GT 706 Winchester Oak </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " routerLink="/laminate/gt707-silver-maple" routerLinkActive="active">
        <img class="img-fluid u-block-hover__main--zoom-v1 mh-525" src="../../../../../assets/img/pages/laminate/page4/vc1007b.jpg.JPG" alt="GT 707 Silver Maple Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> GT 707 Silver Maple Flooring </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " routerLink="/laminate/gt708-heron-oak" routerLinkActive="active">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/laminate/page4/vc1008d.jpg.JPG" alt="GT 708 Heron Oak Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> GT 708 Heron Oak Flooring </strong>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " routerLink="/laminate/gt709-walnut-oak" routerLinkActive="active">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/laminate/page4/vc1009c.jpg.JPG" alt="GT 709 Walnut Oak Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> GT 709 Walnut Oak </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " routerLink="/laminate/gt710-park-walnut" routerLinkActive="active">
        <img class="img-fluid u-block-hover__main--zoom-v1 mh-525" src="../../../../../assets/img/pages/laminate/page4/vc1010d.jpg.JPG" alt="GT 710 Park Walnut Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> GT 710 Park Walnut </strong>
      </a>
    </div>
  </div>
</div>