<section class="container g-py-25 g-mt-150">
  <div class="u-heading-v2-3--bottom g-mb-30">
    <h2 class="u-heading-v2__title g-mb-10">Go Green</h2>
    <h4 class="g-font-weight-200">Green Technologies in <span class="color-orange">Flooring</span></h4>
  </div>
</section>
<section class="container g-mb-100">
  <div class="row">
    <div class="col-md-4 g-mb-30">
      <img src="../../../../assets/img/pages/go-green/environment.jpg" width="100%">
    </div>
    <div class="col-md-8 g-mb-30">
      <p>In today's day and age, we recognize the importance of protecting and conserving our environment. Therefore we take extra steps to promote <strong>Low VOC</strong> eco-friendly products and work with businesses that support a controlled forest harvesting. We also recycle all materials and floor coverings that we remove from our customers' houses. Also, when finishing floors, we use Low VOC's products and highly recommend the revolutionary <strong>NO VOC</strong>'s finishes, all natural by Rubio Monocoat. Working together we can make the world a better and cleaner place!</p>
      <p>Just Floored service of <strong>floor laying</strong> offers many environmentally friendly flooring products such as bamboo flooring. Bamboo is a rapidly growing grass that can be harvested in just 5 years, making it a lot more environmentally friendly than hardwoods. Bamboo is very durable, and can be cut in either a vertical or horizontal pattern, and can come in a light or dark finish. We offer recycled laminate flooring which is made from sawdust, wood shavings or other wood waste. The finish is water based and has Low VOCs.</p>
    </div>
  </div>
    
    <p>Just Floored is very interested in providing customers products that have less impact on the environment but offer the same beauty and durability of other products. Contact us to learn more.</p>
    <p>Ask us about wood floor installation as well as "dustless sanding" for  wood floor sanding and refinishing. <strong>dustless sanding</strong> helps keep you home clean and free of toxins.</p>

    <h5 class="g-font-weight-200">Cork Flooring as a Green Choice</h5>
    <p>Everyone knows <strong>Cork Flooring</strong> is now readily available as an alternative to hardwood flooring or tile. Not everyone is aware of how amazingly quiet and comfortable cork flooring is. Let Just Floored, LLC. come out to your home or office and show you samples of this beautiful flooring choice that is not only very affordable, but extremely durable.</p>
    <p>Cork flooring has a bit of elastic property to it making it softer that other flooring and more comfortable. It has ground sound insulation properties as well. Maintenance is as easy as a quick vacuuming and mopping. You will be thrilled with how easy it is to take care of. But the most surprising quality you will find with <strong>Cork Flooring</strong> is how good it looks and the number of new choices in styles and colors. Cork has come a long way and warrants looking at again. Call us today at <span class="color-orange">1-855-452-2500</span> to set up a free consultation and ask us about Cork Floors.</p>
</section>
