<div class="container g-mt-50 g-mb-50">
  <div class="row">
    <div class="col-md-6">
      <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
        <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title">Floor Installation Since 1997</h2>
      </div>
      <p class="lead">
        JustFloored has
        <strong>beautified</strong> hundreds of homes and commmercial spaces with hardwood, tile, and vinyl.
        Master craftsmen with great attention to detail, painstakingly work through each step with your satisfaction in mind.
      <p>
    </div>

    <div class="col-md-6">
      <img class="img-fluid" src="../../../assets/img/main/frontbox-15895758_m_1.jpg" alt="Picture of hardwood flooring">
    </div>
  </div>

  <hr class="g-my-50">

  <div class="row">
    <div class="col-md-6">
      <img class="img-fluid" src="../../../assets/img/main/frontbox-6739833_ml_1.jpg" alt="Image Description">
    </div>

    <div class="col-md-6">
      <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30 g-mt-30">
        <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title">Flooring done <strong>RIGHT</strong> the first time!</h2>
      </div>
      <p class="lead">
        For your peach of mind and a measure of our professionalism, we are licensed, bonded and insured!
      </p>
      <p>
        Our staff can help you make an informed decision on flooring, style, color, and finish decision appropriate for you and your home.
        <br><br>
        As about our <strong>low VOC's</strong> floor refinishing services, including <strong>dustless sanding</strong>.
      </p>
    </div>
  </div>
</div>