<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall g-mt-70" data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" style="height: 140%; background-image: url(../../../../assets/img/pages/floors/44287734_ml_0.jpg);"></div>
  <div class="container g-color-white text-center g-py-120">
    <h3 class="h1 g-font-weight-600 text-uppercase mb-2">Flooring Products</h3>
  </div>
</section>
<section class="container g-bg-white g-pt-100 g-pb-70">
  <div class="row">
    <div class="col-md-4 g-mb-30">
      <div class="g-brd-around--md g-brd-gray-light-v4 text-center g-pa-10 g-px-30--lg g-py-40--lg">
        <span class="d-block g-color-gray-dark-v4 g-font-size-40 g-mb-15">
          <img class="img-fluid" src="../../../../assets/img/pages/floors/engineered-rect.jpg">
        </span>
        <h3 class="h5 g-color-black g-mb-10"><a class="g-color-primary--hover floor-link" routerLink="/engineered" routerLinkActive="active">Engineered</a></h3>
        <div class="d-inline-block g-width-40 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
        <ul class="list-unstyled g-px-30 g-mb-0">
          <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10"><a class="g-color-primary--hover floor-link" routerLink="/engineered/acacia" routerLinkActive="active">Acacia</a></li>
          <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10"><a class="g-color-primary--hover floor-link" routerLink="/engineered/birch" routerLinkActive="active">Birch</a></li>
          <li class="g-py-10"><a class="g-color-primary--hover floor-link" routerLink="/engineered/hickory" routerLinkActive="active">Hickory</a></li>
          <li class="g-py-10"></li>
          <li class="g-py-10"></li>
          <li class="g-py-10"></li>
          <li class="g-py-13"></li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 g-mb-30">
      <div class="g-brd-around--md g-brd-gray-light-v4 text-center g-pa-10 g-px-30--lg g-py-40--lg">
        <span class="d-block g-color-gray-dark-v4 g-font-size-40 g-mb-15">
          <img class="img-fluid" src="../../../../assets/img/pages/floors/laminate-rect.jpg">
        </span>
        <h3 class="h5 g-color-black g-mb-10"><a class="g-color-primary--hover floor-link" routerLink="/laminate/page/1" routerLinkActive="active">Laminate</a></h3>
        <div class="d-inline-block g-width-40 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
        <ul class="list-unstyled g-px-30 g-mb-0">
          <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10"><a class="g-color-primary--hover floor-link" routerLink="/laminate/acacia" routerLinkActive="active">Acacia</a></li>
          <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10"><a class="g-color-primary--hover floor-link" routerLink="/laminate/hickory" routerLinkActive="active">Hickory</a></li>
          <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10"><a class="g-color-primary--hover floor-link" routerLink="/laminate/single-width" routerLinkActive="active">Single Width</a></li>
          <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10"><a class="g-color-primary--hover floor-link" routerLink="/laminate/random-width" routerLinkActive="active">Random Width</a></li>
          <li class="g-py-10"><a class="g-color-primary--hover floor-link" routerLink="/laminate/value-collection" routerLinkActive="active">Value Collection</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 g-mb-30">
      <div class="g-brd-around--md g-brd-gray-light-v4 text-center g-pa-10 g-px-30--lg g-py-40--lg">
        <span class="d-block g-color-gray-dark-v4 g-font-size-40 g-mb-15">
          <img class="img-fluid" src="../../../../assets/img/pages/floors/vinyl-rect.jpg">
        </span>
        <h3 class="h5 g-color-black g-mb-10"><a class="g-color-primary--hover floor-link" routerLink="/vinyl/page/1" routerLinkActive="active">Vinyl</a></h3>
        <div class="d-inline-block g-width-40 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
        <ul class="list-unstyled g-px-30 g-mb-0">
          <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10"><a class="g-color-primary--hover floor-link" routerLink="/vinyl/lvp" routerLinkActive="active">LVP</a></li>
          <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10"><a class="g-color-primary--hover floor-link" routerLink="/vinyl/wpc/page/1" routerLinkActive="active">WPC</a></li>
          <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10"><a class="g-color-primary--hover floor-link" routerLink="/vinyl/wpc/wf6" routerLinkActive="active">WPC6.5mm</a></li>
          <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10"><a class="g-color-primary--hover floor-link" routerLink="/vinyl/wpc/wf8" routerLinkActive="active">WPC 6mm</a></li>
          <li class="g-py-10"><a class="g-color-primary--hover floor-link" routerLink="/vinyl/wpc/wf9" routerLinkActive="active">WPC 5.5mm</a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr class="g-mt-50">
</section>
<section class="container g-bg-white g-pb-70">
  <div class="u-heading-v2-5--bottom g-mb-40">
    <h2 class="u-heading-v2__title g-mb-10">About Floors</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img class="img-fluid img-flip" src="../../../../assets/img/pages/floors/solid_eng.png" alt="Diagram of solid wood flooring">
    </div>
  
    <div class="col-md-6">
      <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
        <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title"><a class="g-color-primary--hover floor-link" routerLink="/solid-wood-flooring" routerLinkActive="active">Solid Wood Flooring</a></h2>
      </div>
      <p>Hardwood flooring is an option for floors that present a range of choice for the consumer to consider. One such choice is that of species. Some species are very hard, and stand to be a notably durable choice. Others are less hard, but more forgiving when sawed or nailed to a subfloor. Some species of hardwood have colors which remain more or less constant. Others exhibit “photosensitivity”, which means that the color of the hardwood flooring species changes as it is exposed to light.</p>
    </div>
  </div>
  <div class="row g-mt-50">
    <div class="col-md-6">
      <img class="img-fluid" src="../../../../assets/img/pages/floors/engineered.png" alt="Diagram of engineered flooring">
    </div>
  
    <div class="col-md-6">
      <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
        <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title"><a class="g-color-primary--hover floor-link" routerLink="/engineered-wood-flooring" routerLinkActive="active">Engineered Flooring</a></h2>
      </div>
      <p>Engineered wood floors are built having multiple thin ply layers that are glued together. The inner cores are generally either a hardwood and/or soft plywood type of material, which incorporates the tongue and groove system. The top thicker hardwood veneer wear layer is glued on top surface of the core and is available in almost any hardwood species.</p>
    </div>
  </div>
  <div class="row g-mt-50">
    <div class="col-md-6">
      <img class="img-fluid" src="../../../../assets/img/pages/floors/laminate.png" style="height: 300px" alt="Diagram of laminate flooring">
    </div>
  
    <div class="col-md-6">
      <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
        <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title"><a class="g-color-primary--hover floor-link" routerLink="/laminate-flooring" routerLinkActive="active">Laminate Flooring</a></h2>
      </div>
      <p>One of the fastest-growing type of flooring in North America, laminate floors have the beauty of wood and ceramics without the worry. Laminate flooring is easy on the budget as compared to the cost of wood. No need for polish or wax, laminate is durable and best of all - easy to install!</p>
    </div>
  </div>
  <div class="row g-mt-50">
    <div class="col-md-6">
      <img class="img-fluid img-flip" src="../../../../assets/img/pages/floors/cork.png" style="height: 300px" alt="Diagram of cork flooring">
    </div>
  
    <div class="col-md-6">
      <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
        <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title"><a class="g-color-primary--hover floor-link" routerLink="/cork-flooring" routerLinkActive="active">Cork Flooring</a></h2>
      </div>
      <p>The majority of cork used for flooring actually comes from the bark of the cork oak tree, or Quercus Suber, native to the Mediterranean region. The bark is hand-harvested every nine years, leaving a protective inner layer of bark that allows the tree to continue to grow and regenerate new bark. After drying in the forest for several months, the bark is transported to a factory, where wine bottle corks are punched out of the bark.</p>
    </div>
  </div>
  <div class="row g-mt-50">
    <div class="col-md-6">
      <img class="img-fluid img-flip" src="../../../../assets/img/pages/floors/bamboo.png" style="height: 300px" alt="Diagram of bamboo flooring">
    </div>
  
    <div class="col-md-6">
      <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
        <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title"><a class="g-color-primary--hover floor-link" routerLink="/bamboo-flooring" routerLinkActive="active">Bamboo Flooring</a></h2>
      </div>
      <p>A common error some make about bamboo is that it is a type of hardwood. Not to be confused with common associations of many species of grass, bamboo is actually a type of grass which matures into a material that can rival the hardness of maple! Being well adapted to the environment in which bamboo commonly grows, each bamboo plant thrives in areas of fair to poor soil quality, and still remains to be one of the fastest growing plants in the world.</p>
    </div>
  </div>
  <div class="row g-mt-50">
    <div class="col-md-6">
      <img class="img-fluid" src="../../../../assets/img/pages/floors/vinyl.png" alt="Diagram of vinyl flooring">
    </div>
  
    <div class="col-md-6">
      <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
        <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title"><a class="g-color-primary--hover floor-link" href="#!">Vinyl Flooring</a></h2>
      </div>
      <p>If you are looking for low maintenance, durability and easy installation, our vinyl plank flooring is a great budget friendly choice. Our vinyl plank flooring performs well and looks great! Perfect for kitchens, bathrooms, laundry areas, and mud rooms as well as basement areas. Textured vinyl planks are made to look like real wood or tile, water resistant and comfortable on bare feet. Great for active families with children and pets.</p>
    </div>
  </div>
</section>