<section class="container g-py-25 g-mt-150">
  <div class="u-heading-v2-3--bottom g-mb-30">
    <h2 class="u-heading-v2__title g-mb-10">Blog</h2>
  </div>
</section>
<div class="container g-pb-20">
  <div class="row justify-content-between">
    <div class="col-lg-9 g-mb-80">
      <div class="g-pr-20--lg">
        <div class="masonry-grid row g-mb-70">
          <div class="masonry-grid-sizer col-sm-1"></div>
          <div class="masonry-grid-item col-sm-6 g-mb-30">
            <article class="u-shadow-v11">
              <img class="img-fluid w-100" src="../../../../../assets/img/pages/blog/main/carbonized-horizontal-bamboo_0_0.jpg" alt="Carbonized horizontal bamboo">
              <div class="g-bg-white g-pa-30">
                <span class="d-block g-color-gray-dark-v4 g-font-weight-600 g-font-size-12 text-uppercase mb-2">14 April 2016</span>
                <h2 class="h5 g-color-black g-font-weight-600 mb-3">
                  <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="#">Bamboo Flooring</a>
                </h2>
                <p class="g-color-gray-dark-v4 g-line-height-1_8">Just Floored is proud to offer bamboo flooring as well as its popular hardwood floors. Bamboo is a great looking product that is actually harder than hardwood flooring materials and can be harvested every five years making it a green product. Patterns have evolved, customers can choose either horizontal or vertical cut bamboo which have two different looks, and can choose either a dark or light finish.</p>
                <a class="g-font-size-13" href="#">Read more...</a>
              </div>
            </article>
          </div>
          <div class="masonry-grid-item col-sm-6 g-mb-30">
            <article class="u-shadow-v11">
              <img class="img-fluid w-100" src="../../../../../assets/img/pages/blog/main/handscraped-living-room_0.jpg" alt="Installed Handscraped flooring in living room">
              <div class="g-bg-white g-pa-30">
                <span class="d-block g-color-gray-dark-v4 g-font-weight-600 g-font-size-12 text-uppercase mb-2">26 Janurary 2016</span>
                <h2 class="h5 g-color-black g-font-weight-600 mb-3">
                  <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="#">Handscraped Hardwood Flooring</a>
                </h2>
                <p class="g-color-gray-dark-v4 g-line-height-1_8">Just Floored offers a wide variety of wood species, stain colors, wood plank widths and styles with the "Handscraped" look. Our selection has grown mostly because of the rising popularity of this look. We get calls everyday asking about installing hand-scraped floors and have seen first hand how great these floors look.</p>
                <a class="g-font-size-13" href="#">Read more...</a>
              </div>
            </article>
          </div>
          <div class="masonry-grid-item col-sm-6 g-mb-30">
            <article class="u-shadow-v11">
              <img class="img-fluid w-100" src="../../../../../assets/img/pages/blog/main/47256758_ml_0.jpg" alt="Modern style living room using the new hardwood trend.">
              <div class="g-bg-white g-pa-30">
                <span class="d-block g-color-gray-dark-v4 g-font-weight-600 g-font-size-12 text-uppercase mb-2">20 December 2015</span>
                <h2 class="h5 g-color-black g-font-weight-600 mb-3">
                  <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="#">New Trends in Flooring</a>
                </h2>
                <p class="g-color-gray-dark-v4 g-line-height-1_8">Hardwood Floors have been popular in the United States for hundreds of years. Stain color, plank width, wood species and looks have changed from time to time. In the 1800 - 1900's, wood floors were many times covered up with other flooring as if they were something to be ashamed of.</p>
                <a class="g-font-size-13" href="#">Read more...</a>
              </div>
            </article>
          </div>
          <div class="masonry-grid-item col-sm-6 g-mb-30">
            <article class="u-shadow-v11">
              <img class="img-fluid w-100" src="../../../../../assets/img/pages/blog/main/6739673_l_0.jpg" alt="Installed hardwood floor with Low VOC's abd No VOC's">
              <div class="g-bg-white g-pa-30">
                <span class="d-block g-color-gray-dark-v4 g-font-weight-600 g-font-size-12 text-uppercase mb-2">10 July 2015</span>
                <h2 class="h5 g-color-black g-font-weight-600 mb-3">
                  <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="#">Hardwood Floors Low VOC's, No VOC's</a>
                </h2>
                <p class="g-color-gray-dark-v4 g-line-height-1_8">Just Floored, LLC is proud to offer low VOC and No VOC's wood floor products that have lower or no formaldehyde for a better, healthy environment. For years, formaldehyde has been used in the engineered wood floors as well as subfloors to fuse layers of real wood to layers of plywood, birch or pine in wood floors as well as wood floor finishes.</p>
                <a class="g-font-size-13" href="#">Read more...</a>
              </div>
            </article>
          </div>
          <div class="masonry-grid-item col-sm-6 g-mb-30">
            <article class="u-shadow-v11">
              <img class="img-fluid w-100" src="../../../../../assets/img/pages/blog/main/DSC00065_0.jpg" alt="Installed hardwood floors">
              <div class="g-bg-white g-pa-30">
                <span class="d-block g-color-gray-dark-v4 g-font-weight-600 g-font-size-12 text-uppercase mb-2">14 November 2014</span>
                <h2 class="h5 g-color-black g-font-weight-600 mb-3">
                  <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="#">Finish or Replace Wood Floors</a>
                </h2>
                <p class="g-color-gray-dark-v4 g-line-height-1_8">Just Floored, LLC faces the question of whether to refinish existing hardwood floors or replacing hardwood floors from homeowners and business owners every day. It is true you can save money by just refinishing the hardwood floors on site, it is not always possible or cost effective.</p>
                <a class="g-font-size-13" href="#">Read more...</a>
              </div>
            </article>
          </div>
          <div class="masonry-grid-item col-sm-6 g-mb-30">
            <article class="u-shadow-v11">
              <img class="img-fluid w-100" src="../../../../../assets/img/pages/blog/main/refinishing_0.jpg" alt="Hardwood in the process of being refinished.">
              <div class="g-bg-white g-pa-30">
                <span class="d-block g-color-gray-dark-v4 g-font-weight-600 g-font-size-12 text-uppercase mb-2">25 June 2013</span>
                <h2 class="h5 g-color-black g-font-weight-600 mb-3">
                  <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="#">Dustless Sanding Wood Floors</a>
                </h2>
                <p class="g-color-gray-dark-v4 g-line-height-1_8">Just Floored, LLC offers professional wood floor refinishing using the "dustless sanding" method and hardwood floor installation for homeowners and business owners to keep your house clean while installing or refinishing your wood floors. Not only does this "green" method of sanding keep the micro particles created when sanding down, it helps keep the fumes down.</p>
                <a class="g-font-size-13" href="#">Read more...</a>
              </div>
            </article>
          </div>
        </div>
        <nav id="stickyblock-end" class="text-center" aria-label="Page Navigation">
          <ul class="list-inline">
            <li class="list-inline-item float-left g-hidden-xs-down">
              <a class="u-pagination-v1__item u-pagination-v1-4 g-brd-gray-light-v3 g-brd-primary--hover g-rounded-50 g-pa-7-16" routerLink="/blog" aria-label="Previous">
                <span aria-hidden="true">
                  <i class="fa fa-angle-left g-mr-5"></i> Previous
                </span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-14" routerLink="/blog" routerLinkActive="active">1</a>
            </li>
            <li class="list-inline-item">
              <a class="u-pagination-v1__item u-pagination-v1-4 u-pagination-v1-4--active g-rounded-50 g-pa-7-14" routerLink="/blog/page/2" routerLinkActive="active">2</a>
            </li>
            <li class="list-inline-item float-right g-hidden-xs-down">
              <a class="u-pagination-v1__item u-pagination-v1__item--disabled u-pagination-v1-4 g-brd-gray-light-v3 g-brd-primary--hover g-rounded-50 g-pa-7-16" routerLink="/blog/page/2" routerLinkActive="active" aria-label="Next">
                <span aria-hidden="true">
                  Next <i class="fa fa-angle-right g-ml-5"></i>
                </span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="col-lg-3 g-brd-left--lg g-brd-gray-light-v4 g-mb-80">
      <div class="g-pl-20--lg">
        <div class="g-mb-50">
          <h3 class="h5 g-color-black g-font-weight-600 mb-4">Categories</h3>
          <ul class="list-unstyled g-font-size-13 mb-0">
            <li>
              <a class="d-block u-link-v5 g-color-gray-dark-v4 rounded g-px-20 g-py-8" href="#"><i class="mr-2 fa fa-angle-right"></i> Bamboo Flooring</a>
            </li>
            <li>
              <a class="d-block u-link-v5 g-color-gray-dark-v4 rounded g-px-20 g-py-8" href="#"><i class="mr-2 fa fa-angle-right"></i> Cork Flooring</a>
            </li>
            <li>
              <a class="d-block u-link-v5 g-color-gray-dark-v4 rounded g-px-20 g-py-8" href="#"><i class="mr-2 fa fa-angle-right"></i> Engineered Wood Flooring</a>
            </li>
            <li>
              <a class="d-block u-link-v5 g-color-gray-dark-v4 rounded g-px-20 g-py-8" href="#"><i class="mr-2 fa fa-angle-right"></i> Hardwood Flooring</a>
            </li>
            <li>
              <a class="d-block u-link-v5 g-color-gray-dark-v4 rounded g-px-20 g-py-8" href="#"><i class="mr-2 fa fa-angle-right"></i> Laminate Flooring</a>
            </li>
            <li>
              <a class="d-block u-link-v5 g-color-gray-dark-v4 rounded g-px-20 g-py-8" href="#"><i class="mr-2 fa fa-angle-right"></i> Refinishing Floors</a>
            </li>
            <li>
              <a class="d-block u-link-v5 g-color-gray-dark-v4 rounded g-px-20 g-py-8" href="#"><i class="mr-2 fa fa-angle-right"></i> Stone / Tile</a>
            </li>
            <li>
              <a class="d-block u-link-v5 g-color-gray-dark-v4 rounded g-px-20 g-py-8" href="#"><i class="mr-2 fa fa-angle-right"></i> Vinyl Plank</a>
            </li>
            <!-- 
                This is what the activated link looks like
            <li>
              <a class="d-block active u-link-v5 g-color-black g-bg-gray-light-v5 g-font-weight-600 g-rounded-50 g-px-20 g-py-8" href="#"><i class="mr-2 fa fa-angle-right"></i> Untold Stories</a>
            </li> -->
          </ul>
        </div>

        <hr class="g-brd-gray-light-v4 g-mt-50 mb-0">

        <div id="stickyblock-start">
          <div class="js-sticky-block g-sticky-block--lg g-pt-50" data-responsive="true" data-start-point="#stickyblock-start" data-end-point="#stickyblock-end">
            <div class="g-mb-50">
              <h3 class="h5 g-color-black g-font-weight-600 mb-4">Latest Posts</h3>
              <ul class="list-unstyled">
                <li class="media g-brd-around g-brd-gray-light-v4 g-brd-left-3 g-brd-primary-left g-rounded-3 g-pa-20 g-mb-7">
                  <div class="d-flex g-mt-2 g-mr-15">
                    <img class="g-width-40 g-height-40 rounded" src="../../../../../assets/img/pages/blog/main/spc_vinyl_flooring.png" alt="Image of SPC Vinyl Flooring">
                  </div>
                  <div class="media-body">
                    <div class="d-flex justify-content-between">
                      <h5 class="h6 g-font-weight-600 g-color-black">SPC Vinyl Flooring</h5>
                    </div>
                    <p>Many Just Floored Atlanta customers have been asking...</p>
                    <a class="g-font-size-10" routerLink="blog/posts/spc-vinyl-flooring" routerLinkActive="active">Read More...</a>
                  </div>
                </li>
                <li class="media g-brd-around g-brd-gray-light-v4 g-brd-left-3 g-brd-primary-left g-rounded-3 g-pa-20 g-mb-7">
                  <div class="d-flex g-mt-2 g-mr-15">
                    <img class="g-width-40 g-height-40 rounded" src="../../../../../assets/img/pages/blog/main/VF006h-arcacoa.jpg" alt="Image of VF006 arcacoa flooring">
                  </div>
                  <div class="media-body">
                    <div class="d-flex justify-content-between">
                      <h5 class="h6 g-font-weight-600 g-color-black">Luxury Vinyl Planks Flooring Installation</h5>
                    </div>
                    <p>Beauty &amp; Practically. Many customers...</p>
                    <a class="g-font-size-10" routerLink="/blog/posts/luxury-vinyl-planks-flooring-installation" routerLinkActive="active">Read More...</a>
                  </div>
                </li>
                <li class="media g-brd-around g-brd-gray-light-v4 g-brd-left-3 g-brd-primary-left g-rounded-3 g-pa-20 g-mb-7">
                  <div class="d-flex g-mt-2 g-mr-15">
                    <img class="g-width-40 g-height-40 rounded" src="../../../../../assets/img/pages/blog/main/pet-floor.jpg" alt="Dog laying on hardwood flooring in front of a fireplace.">
                  </div>
                  <div class="media-body">
                    <div class="d-flex justify-content-between">
                      <h5 class="h6 g-font-weight-600 g-color-black">Choosing the Right Floor Finish</h5>
                    </div>
                    <p>Oil based vs. water based vs...</p>
                    <a class="g-font-size-10" routerLink="/blog/posts/choosing-the-right-floor-finish" routerLinkActive="active">Read More...</a>
                  </div>
                </li>
              </ul>
            </div>

            <hr class="g-brd-gray-light-v4 g-my-50">

            <div class="g-mb-40">
              <h3 class="h5 g-color-black g-font-weight-600 mb-4">Tags</h3>
              <ul class="u-list-inline mb-0">
                <li class="list-inline-item g-mb-10">
                  <a class="u-tags-v1 g-color-gray-dark-v4 g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover g-font-size-12 g-rounded-50 g-py-4 g-px-15" href="#">Bamboo</a>
                </li>
                <li class="list-inline-item g-mb-10">
                  <a class="u-tags-v1 g-color-gray-dark-v4 g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover g-font-size-12 g-rounded-50 g-py-4 g-px-15" href="#">Floor Laying</a>
                </li>
                <li class="list-inline-item g-mb-10">
                  <a class="u-tags-v1 g-color-gray-dark-v4 g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover g-font-size-12 g-rounded-50 g-py-4 g-px-15" href="#">Cork</a>
                </li>
                <li class="list-inline-item g-mb-10">
                  <a class="u-tags-v1 g-color-gray-dark-v4 g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover g-font-size-12 g-rounded-50 g-py-4 g-px-15" href="#">Dustless Sanding</a>
                </li>
                <li class="list-inline-item g-mb-10">
                  <a class="u-tags-v1 g-color-gray-dark-v4 g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover g-font-size-12 g-rounded-50 g-py-4 g-px-15" href="#">Engineered</a>
                </li>
                <li class="list-inline-item g-mb-10">
                  <a class="u-tags-v1 g-color-gray-dark-v4 g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover g-font-size-12 g-rounded-50 g-py-4 g-px-15" href="#">Hardwood</a>
                </li>
                <li class="list-inline-item g-mb-10">
                  <a class="u-tags-v1 g-color-gray-dark-v4 g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover g-font-size-12 g-rounded-50 g-py-4 g-px-15" href="#">Flooring Installation</a>
                </li>
                <li class="list-inline-item g-mb-10">
                  <a class="u-tags-v1 g-color-gray-dark-v4 g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover g-font-size-12 g-rounded-50 g-py-4 g-px-15" href="#">Contractor</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>