<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall g-mt-70" data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" style="height: 140%; background-image: url(../../../../assets/img/pages/floors/44287734_ml_0.jpg);"></div>
  <div class="container g-color-white text-center g-py-120">
    <h3 class="h1 g-font-weight-600 text-uppercase mb-2">Acacia (Cologne) - ACR042</h3>
  </div>
</section>
<section class="container g-bg-white g-pt-100 g-pb-70">
  <div class="row">
    <div class="col">
       <div class="g-brd-around g-brd-gray-light-v4 g-brd-left-4 g-brd-primary-left g-line-height-1_8 g-rounded-3 g-pa-20 g-mb-30">
        <h3 class="g-color-primary g-font-weight-600">Acacia (Cologne) - ACR042</h3>
        <p class="mb-0 g-font-size-16">
          <strong>Construction:</strong> Engineered wood flooring<br>
          <strong>Species:</strong> Acacia<br>
          <strong>Grading:</strong> ABCD<br>
          <strong>Dimensions:</strong> 12 x 127 x 400-1200mm R/L (1/2" &times; 5" &times; 15 3/4" – 47 1/4" RL)<br>
          <strong>Thickness for Wood Veneer:</strong> 1.5mm<br>
          <strong>Surface Texture:</strong> Handscraped<br>
          <strong>Lock System:</strong> T&G<br>
          <strong>Category:</strong> Acacia, Engineered
        </p>
      </div>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col g-mb-30">
          <a class="js-fancybox" href="javascript:;" data-fancybox="lightbox-gallery-hidden" data-src="../../../../../../assets/img/pages/engineered/acr042/ACR042a.jpg" data-caption="Acacia (Cologne) - ACR042" data-speed="500" data-slideshow-speed="1000">
            <img class="img-fluid" src="../../../../../../assets/img/pages/engineered/acr042/ACR042a.jpg" alt="Acacia (Cologne) - ACR042">
          </a>
        </div>
        <div class="col g-mb-30">
          <a class="js-fancybox d-block u-bg-overlay g-bg-black-opacity-0_5--after" href="javascript:;" data-fancybox="lightbox-gallery-hidden" data-src="../../../../../../assets/img/pages/engineered/acr042/ACR042d.jpg" data-caption="Acacia (Cologne) - ACR042" data-speed="500" data-slideshow-speed="1000">
            <img class="img-fluid" src="../../../../../../assets/img/pages/engineered/acr042/ACR042d.jpg" alt="Acacia (Cologne) - ACR042">
            <span class="u-bg-overlay__inner g-absolute-centered g-color-white">
            <span class="g-font-size-46">2+</span>
            <br>view photos
            </span>
          </a>
        </div>
      
        <img class="js-fancybox g-hidden-xs-up" data-fancybox="lightbox-gallery-hidden" data-src="../../../../../../assets/img/pages/engineered/acr042/ACR042c.jpg" data-caption="Acacia (Cologne) - ACR042" data-speed="500" data-slideshow-speed="1000">
        <img class="js-fancybox g-hidden-xs-up" data-fancybox="lightbox-gallery-hidden" data-src="../../../../../../assets/img/pages/engineered/acr042/ACR042e.jpg" data-caption="Acacia (Cologne) - ACR042" data-speed="500" data-slideshow-speed="1000">
        <img class="js-fancybox g-hidden-xs-up" data-fancybox="lightbox-gallery-hidden" data-src="../../../../../../assets/img/pages/engineered/acr042/ACR042f.jpg" data-caption="Acacia (Cologne) - ACR042" data-speed="500" data-slideshow-speed="1000">
      </div>
    </div>
  </div>
</section>