<section class="container g-py-25 g-mt-150">
  <div class="u-heading-v2-3--bottom g-mb-30">
    <h2 class="u-heading-v2__title g-mb-10">Testimonials</h2>
    <h4 class="g-font-weight-200">See what customers have to say!</h4>
  </div>
  <p>Besides many residential jobs, many of which you can see in our gallery, we also have worked on some commercial projects of famous restaurants which you can eventually check out: <strong>Atlanta, Ga</strong>: • Davio's Northern Italian Steakhouse; • True Food Kitchen; • Bartaco; • Veni Vidi Vici; • Barcelona Winde Bar & Restarant;• Bistro Niko; • Watershed on Peachtree; • Smash Kitchen and Bar; <strong>Ft. Lauderdale, FL</strong>: • Lobster Bar Sea Grill; <strong>Sunrise, FL</strong>; • California Pizza Kitchen; <strong>Charlotte, NC</strong>:• Vine American Kitchen; <strong>Houston, TX</strong>: • True Food Kitchen; <strong>Lynnfield, MA</strong> • Davio's Northern Italian Steakhouse; <strong>New York, NY</strong>: • Davio's Northern Italian Steakhouse;</p>
</section>
<section class="container g-mb-100">
  <hr class="u-divider-linear-gradient u-divider-linear-gradient--gray-light-v2 g-my-50" data-animation="fadeIn" data-animation-delay="0" data-animation-duration="500">
  <div class="row justify-content-center" data-animation="fadeIn" data-animation-delay="0" data-animation-duration="500">
    <div class="col-lg-8">
      <div class="text-center">
        <div class="g-py-25">
          <h4 class="h5 g-color-black text-uppercase g-mb-0">Mel and Stacey</h4>
          <em class="g-color-primary">Happy Customers</em>
        </div>
        <blockquote class="lead g-line-height-1_8 g-mb-25">
          "Me and my wife are so gratful to have chosen your companyto do the flooring job for us! We were a little skeptical in the beginning because a "friend of friend" of ours gave us a better price, but we enjoyed the hassle-free experience we've had with you! I'm very appreaciative of the little felt pads your men attached to the bottom of the furniture legs, that will definitely help with keeping the floors in a new condition! I will be happy to recommend you to everybody I know and if you will need a reference, feel free to give our number out."
        </blockquote>
        <div class="js-rating align-self-center g-color-yellow" data-rating="5" data-spacing="5" data-backward-icons-classes="fa fa-star"></div>
      </div>
    </div>
  </div>
  <hr class="u-divider-linear-gradient u-divider-linear-gradient--gray-light-v2 g-my-50" data-animation="fadeIn" data-animation-delay="0" data-animation-duration="500">
  <div class="row justify-content-center" data-animation="fadeIn" data-animation-delay="0" data-animation-duration="500">
    <div class="col-lg-8">
      <div class="text-center">
        <div class="g-py-25">
          <h4 class="h5 g-color-black text-uppercase g-mb-0">Sabrina Daly</h4>
          <em class="g-color-primary">Happy Customer</em>
        </div>
        <blockquote class="lead g-line-height-1_8 g-mb-25">
          "Gabriel, thanks for the beautiful job you guys have done and for hooking my TV back. Floors look like brand new all over again, 15 years after we had them installed."
        </blockquote>
        <div class="js-rating align-self-center g-color-yellow" data-rating="5" data-spacing="5" data-backward-icons-classes="fa fa-star"></div>
      </div>
    </div>
  </div>
  <hr class="u-divider-linear-gradient u-divider-linear-gradient--gray-light-v2 g-my-50" data-animation="fadeIn" data-animation-delay="0" data-animation-duration="500">
  <div class="row justify-content-center" data-animation="fadeIn" data-animation-delay="0" data-animation-duration="500">
    <div class="col-lg-8">
      <div class="text-center">
        <div class="g-py-25">
          <h4 class="h5 g-color-black text-uppercase g-mb-0">Babs Soutros</h4>
          <em class="g-color-primary">Happy Customer</em>
        </div>
        <blockquote class="lead g-line-height-1_8 g-mb-25">
          "Let me just say that I am impressed how perfectly you matched the color of the floors you've added to the rest! Many people told me it was impossible, but you certainly proved them wrong and I know you said yourself that there will be a light difference, but I see none, so, many thanks!"
        </blockquote>
        <div class="js-rating align-self-center g-color-yellow" data-rating="5" data-spacing="5" data-backward-icons-classes="fa fa-star"></div>
      </div>
    </div>
  </div>
  <hr class="u-divider-linear-gradient u-divider-linear-gradient--gray-light-v2 g-my-50" data-animation="fadeIn" data-animation-delay="0" data-animation-duration="500">
  <div class="row justify-content-center" data-animation="fadeIn" data-animation-delay="0" data-animation-duration="500">
    <div class="col-lg-8">
      <div class="text-center">
        <div class="g-py-25">
          <h4 class="h5 g-color-black text-uppercase g-mb-0">Sal Benedetto</h4>
          <em class="g-color-primary">Happy Customer</em>
        </div>
        <blockquote class="lead g-line-height-1_8 g-mb-25">
          "After these 2 weeks we'll miss you guys in and around our house, but we'll remember you by the nice jobs you've done for us. The travertine looks amazing and I'm glad you steered me to the Leonardo collection, the sealer enriched the already pretty colors, it is a nice contrast to the stone wall. About the Brazilian Cherry you provided for us I can tell you that looks much more consistent and has longer planks than the one we've seen. It's been a pleasure dealing with you, we will certainly keep your number for the next project."
        </blockquote>
        <div class="js-rating align-self-center g-color-yellow" data-rating="5" data-spacing="5" data-backward-icons-classes="fa fa-star"></div>
      </div>
    </div>
  </div>
  <hr class="u-divider-linear-gradient u-divider-linear-gradient--gray-light-v2 g-my-50" data-animation="fadeIn" data-animation-delay="0" data-animation-duration="500">
  <div class="row justify-content-center" data-animation="fadeIn" data-animation-delay="0" data-animation-duration="500">
    <div class="col-lg-8">
      <div class="text-center">
        <div class="g-py-25">
          <h4 class="h5 g-color-black text-uppercase g-mb-0">Tabatha Miles</h4>
          <em class="g-color-primary">Happy Customer</em>
        </div>
        <blockquote class="lead g-line-height-1_8 g-mb-25">
          "Thanks for a nice job and neatly done! Glad to see you again after so many years, thanks indeed!"
        </blockquote>
        <div class="js-rating align-self-center g-color-yellow" data-rating="5" data-spacing="5" data-backward-icons-classes="fa fa-star"></div>
      </div>
    </div>
  </div>
  <hr class="u-divider-linear-gradient u-divider-linear-gradient--gray-light-v2 g-my-50" data-animation="fadeIn" data-animation-delay="0" data-animation-duration="500">
  <div class="row justify-content-center" data-animation="fadeIn" data-animation-delay="0" data-animation-duration="500">
    <div class="col-lg-8">
      <div class="text-center">
        <div class="g-py-25">
          <h4 class="h5 g-color-black text-uppercase g-mb-0">Anne Morrow</h4>
          <em class="g-color-primary">Happy Customer</em>
        </div>
        <blockquote class="lead g-line-height-1_8 g-mb-25">
          "Thank you very much for the wonderful job you guys did! My floors look amazing now! The dustless system helped me tremendously with the cleanup. I will definitely use you in the future and refer you to all my friends! Thank you!"
        </blockquote>
        <div class="js-rating align-self-center g-color-yellow" data-rating="5" data-spacing="5" data-backward-icons-classes="fa fa-star"></div>
      </div>
    </div>
  </div>
  <hr class="u-divider-linear-gradient u-divider-linear-gradient--gray-light-v2 g-my-50" data-animation="fadeIn" data-animation-delay="0" data-animation-duration="500">
  <div class="row justify-content-center" data-animation="fadeIn" data-animation-delay="0" data-animation-duration="500">
    <div class="col-lg-8">
      <div class="text-center">
        <div class="g-py-25">
          <h4 class="h5 g-color-black text-uppercase g-mb-0">Amy Crowley</h4>
          <em class="g-color-primary">Happy Customer</em>
        </div>
        <blockquote class="lead g-line-height-1_8 g-mb-25">
          "Thank you! We love our new floors! :) We will see you in a month for the rest of the house!"
        </blockquote>
        <div class="js-rating align-self-center g-color-yellow" data-rating="5" data-spacing="5" data-backward-icons-classes="fa fa-star"></div>
      </div>
    </div>
  </div>
  <hr class="u-divider-linear-gradient u-divider-linear-gradient--gray-light-v2 g-my-50" data-animation="fadeIn" data-animation-delay="0" data-animation-duration="500">
  <div class="row justify-content-center" data-animation="fadeIn" data-animation-delay="0" data-animation-duration="500">
    <div class="col-lg-8">
      <div class="text-center">
        <div class="g-py-25">
          <h4 class="h5 g-color-black text-uppercase g-mb-0">The Scherers</h4>
          <em class="g-color-primary">Happy Customers</em>
        </div>
        <blockquote class="lead g-line-height-1_8 g-mb-25">
          "We wanted to take a moment to thank you very much for a job done right! >From the very beginning we were very pleased with the expeditious and pain-free process including helping us choose the right floors for our house. The showroom was full of great products, but after giving it some thought we chose the Walnut which looks very unique. We do appreciate your expertise and patience with us!"
        </blockquote>
        <div class="js-rating align-self-center g-color-yellow" data-rating="5" data-spacing="5" data-backward-icons-classes="fa fa-star"></div>
      </div>
    </div>
  </div>
  <hr class="u-divider-linear-gradient u-divider-linear-gradient--gray-light-v2 g-my-50" data-animation="fadeIn" data-animation-delay="0" data-animation-duration="500">
  <div class="row justify-content-center" data-animation="fadeIn" data-animation-delay="0" data-animation-duration="500">
    <div class="col-lg-8">
      <div class="text-center">
        <div class="g-py-25">
          <h4 class="h5 g-color-black text-uppercase g-mb-0">Kenneth Falkner</h4>
          <em class="g-color-primary">Happy Customer</em>
        </div>
        <blockquote class="lead g-line-height-1_8 g-mb-25">
          "Thanks for the great work that your company performed at installing my hardwood floors. I admire your punctuality and dedication to get a perfect job. The stairs match my floors like they were done at the same time. I am very pleased."
        </blockquote>
        <div class="js-rating align-self-center g-color-yellow" data-rating="5" data-spacing="5" data-backward-icons-classes="fa fa-star"></div>
      </div>
    </div>
  </div>
  <hr class="u-divider-linear-gradient u-divider-linear-gradient--gray-light-v2 g-my-50" data-animation="fadeIn" data-animation-delay="0" data-animation-duration="500">
  <div class="row justify-content-center" data-animation="fadeIn" data-animation-delay="0" data-animation-duration="500">
    <div class="col-lg-8">
      <div class="text-center">
        <div class="g-py-25">
          <h4 class="h5 g-color-black text-uppercase g-mb-0">Andrew Mitchell</h4>
          <em class="g-color-primary">Happy Customer</em>
        </div>
        <blockquote class="lead g-line-height-1_8 g-mb-25">
          "My hat's off to your knowledge and good advice! I was reluctant to choose bamboo in out traditional house, but it was an excellent choice, it scratches a lot less than our previous floors and on top of that, my wife appreciates what a good match it is with our furniture. Your guys worked wonders with the damaged area in from of the door, you can't see anything anymore. I hope to work with you on all our other flooring projects."
        </blockquote>
        <div class="js-rating align-self-center g-color-yellow" data-rating="5" data-spacing="5" data-backward-icons-classes="fa fa-star"></div>
      </div>
    </div>
  </div>
  <hr class="u-divider-linear-gradient u-divider-linear-gradient--gray-light-v2 g-my-50" data-animation="fadeIn" data-animation-delay="0" data-animation-duration="500">
  <div class="row justify-content-center" data-animation="fadeIn" data-animation-delay="0" data-animation-duration="500">
    <div class="col-lg-8">
      <div class="text-center">
        <div class="g-py-25">
          <h4 class="h5 g-color-black text-uppercase g-mb-0">Bob Parker</h4>
          <em class="g-color-primary">Happy Customer</em>
        </div>
        <blockquote class="lead g-line-height-1_8 g-mb-25">
          "Many thanks for our beautiful floors! The marble is breathtaking, our neighbors said they're jealous of us and may call you to do their house. Bob Parker P.S. Thanks for taking care of our dog on Tuesday!"
        </blockquote>
        <div class="js-rating align-self-center g-color-yellow" data-rating="5" data-spacing="5" data-backward-icons-classes="fa fa-star"></div>
      </div>
    </div>
  </div>
  <hr class="u-divider-linear-gradient u-divider-linear-gradient--gray-light-v2 g-my-50" data-animation="fadeIn" data-animation-delay="0" data-animation-duration="500">
  <div class="row justify-content-center" data-animation="fadeIn" data-animation-delay="0" data-animation-duration="500">
    <div class="col-lg-8">
      <div class="text-center">
        <div class="g-py-25">
          <h4 class="h5 g-color-black text-uppercase g-mb-0">Sasha Hawke</h4>
          <em class="g-color-primary">Happy Customer</em>
        </div>
        <blockquote class="lead g-line-height-1_8 g-mb-25">
          "Thank you, thank you, thank you! After the nightmare job by the other guy I thought my floors are ruined needing replacing, but being able to re-sand them made them look like brand new and saving me a lot of money! I'm glad I got your number from my boss, I wish I knew it sooner! Anyway, thanks a million!!!"
        </blockquote>
        <div class="js-rating align-self-center g-color-yellow" data-rating="5" data-spacing="5" data-backward-icons-classes="fa fa-star"></div>
      </div>
    </div>
  </div>
  <hr class="u-divider-linear-gradient u-divider-linear-gradient--gray-light-v2 g-my-50" data-animation="fadeIn" data-animation-delay="0" data-animation-duration="500">
  <div class="row justify-content-center" data-animation="fadeIn" data-animation-delay="0" data-animation-duration="500">
    <div class="col-lg-8">
      <div class="text-center">
        <div class="g-py-25">
          <h4 class="h5 g-color-black text-uppercase g-mb-0">Scott Sloane</h4>
          <em class="g-color-primary">Happy Customer</em>
        </div>
        <blockquote class="lead g-line-height-1_8 g-mb-25">
          "It was a pleasure working with you and your crew! I had a lot of furniture and moving it back and forth was not an easy task, but you guys certainly made it look so. The floors are gorgeous, I'm out of the dog house (!) and scored some extra points with my fiance... Stairs look great, too! Will recommend you to my friends and family."
        </blockquote>
        <div class="js-rating align-self-center g-color-yellow" data-rating="5" data-spacing="5" data-backward-icons-classes="fa fa-star"></div>
      </div>
    </div>
  </div>
  <hr class="u-divider-linear-gradient u-divider-linear-gradient--gray-light-v2 g-my-50" data-animation="fadeIn" data-animation-delay="0" data-animation-duration="500">
  <div class="row justify-content-center" data-animation="fadeIn" data-animation-delay="0" data-animation-duration="500">
    <div class="col-lg-8">
      <div class="text-center">
        <div class="g-py-25">
          <h4 class="h5 g-color-black text-uppercase g-mb-0">Ken Brown</h4>
          <em class="g-color-primary">Happy Customer</em>
        </div>
        <blockquote class="lead g-line-height-1_8 g-mb-25">
          "I'm so glad I went with the big tiles of travertine, the whole basement looks excellent! The radiant heating underneath is very loved by our pets who lay down with a smile on their faces :). Bathroom is nothing short of marvelous, the intricate design came out perfect. Very, very pleased, you can use me as a reference anytime!"
        </blockquote>
        <div class="js-rating align-self-center g-color-yellow" data-rating="5" data-spacing="5" data-backward-icons-classes="fa fa-star"></div>
      </div>
    </div>
  </div>
  <hr class="u-divider-linear-gradient u-divider-linear-gradient--gray-light-v2 g-my-50" data-animation="fadeIn" data-animation-delay="0" data-animation-duration="500">
  <div class="row justify-content-center" data-animation="fadeIn" data-animation-delay="0" data-animation-duration="500">
    <div class="col-lg-8">
      <div class="text-center">
        <div class="g-py-25">
          <h4 class="h5 g-color-black text-uppercase g-mb-0">Klaus Brandauer</h4>
          <em class="g-color-primary">Happy Customer</em>
        </div>
        <blockquote class="lead g-line-height-1_8 g-mb-25">
          "My God, I was blown away how 30 year old floors can look this good! Thanks for making this happen! I made the right choice to go with your advice and replace my dated baluster and spindles, the new wrought iron ones make a whole of a difference. It's like I have a brand new place. It'll be a few months, but I want you back to install tiles in my bathrooms. Will be in touch."
        </blockquote>
        <div class="js-rating align-self-center g-color-yellow" data-rating="5" data-spacing="5" data-backward-icons-classes="fa fa-star"></div>
      </div>
    </div>
  </div>
  <hr class="u-divider-linear-gradient u-divider-linear-gradient--gray-light-v2 g-my-50" data-animation="fadeIn" data-animation-delay="0" data-animation-duration="500">
  <div class="row justify-content-center" data-animation="fadeIn" data-animation-delay="0" data-animation-duration="500">
    <div class="col-lg-8">
      <div class="text-center">
        <div class="g-py-25">
          <h4 class="h5 g-color-black text-uppercase g-mb-0">Virginia Cochran</h4>
          <em class="g-color-primary">Happy Customer</em>
        </div>
        <blockquote class="lead g-line-height-1_8 g-mb-25">
          "I want to take this time to thank you for trusting me with these monthly payments. This is the last one and I hope we can do business again with each other, as my floors look impeccable"
        </blockquote>
        <div class="js-rating align-self-center g-color-yellow" data-rating="5" data-spacing="5" data-backward-icons-classes="fa fa-star"></div>
      </div>
    </div>
  </div>
</section>
