<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall g-mt-70" data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" style="height: 140%; background-image: url(../../../../assets/img/pages/floors/44287734_ml_0.jpg);"></div>
  <div class="container g-color-white text-center g-py-120">
    <h3 class="h1 g-font-weight-600 text-uppercase mb-2">Laminate Flooring</h3>
  </div>
</section>
<section class="container g-py-25">
  <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
    <h2 class=" g-mb-10">Great Looking and Affordable <span class="color-orange">Laminate</span> Flooring</h2>
  </div>

  <img src="../../../../../../assets/img/pages/floors/laminate.png" class=" g-mb-50" width="30%">

  <div class="g-pa-15">
    <h4 class="g-font-weight-200">Laminate Flooring Options</h4>
    <p>One of the fastest-growing type of flooring in North America, laminate floors have the beauty of wood and ceramics without the worry. Laminate flooring is easy on the budget as compared to the cost of wood. No need for polish or wax, laminate is durable and best of all - easy to install!</p>    
    <p>Laminate floorings' endless benefits often outshine the benefits of other flooring materials:</p><br>
    <ul>
      <li>It won't fade.</li>
      <li>It is extremely easy to maintain.</li>
      <li>It is easy to install.</li>
      <li>It is more dent resistant than vinyl and wood floors.</li>
      <li>It is wear, stain and fade resistant.</li>
      <li>It is available in a broad assortment of design.</li>
    </ul>
    <p>Laminate floors reflect the style of your home through an extensive range of great-looking styles with all the appeal of hardwood and tile.</p>
    <p>Some brands offer accent blocks and border pieces that allow for a custom designed look. Coordinating moldings and transition pieces like baseboards, quarter rounds and reducer strips complete the finished look of a floor and are available in a wide range of profiles and patterns.</p>

    <h4 class="g-font-weight-200 g-mt-25">Installation</h4>
    <p>One of the greatest advantages to laminate flooring is that it can be installed on any grade in your home provided the sub floor is sound, level and dry.</p>
    <p>That's because laminate floors are installed using the "floating floor" method. With this type of installation, the planks are not permanently fastened to the sub floor They are actually attached to each other via a mechanical locking tongue and groove system (referred to as "click" flooring), or a glued tongue and groove system. This then "floats" over a thin layer of foam underlayment.</p>
    <p>Laminate floors may be installed in almost any room in your home. Special precautions should be taken in any room where there is constant moisture. Sub floors should also be taken into consideration. They should be flat without any dips or bumps, and dry before your floor is installed. Laminate floor can be installed over plywood, concrete, existing hard surface floor covering (i.e.; vinyl, ceramic and hardwood), OSB, wafer board, and many other surfaces.</p>

    <h4 class="g-font-weight-200 g-mt-25">Cleaning</h4>
    <p>No other flooring is easy to care for than laminate floors! For everyday cleaning, simply vacuum the floor or sweep to remove loose dirt and debris. Do not use soap, wax, household cleaners or any other product on laminate floors. This will leave a film on your floor and cause it to attract more dirt and leave streaks and footprints.</p>
    <p>The best way to clean your laminate floors is to use ammonia and water, or any other window cleaning product. First sweep or vacuum up loose dirt, then mist the floor with your cleaner and buff it up using a terry cloth towel.</p>
  </div>
  
</section>