<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall g-mt-70" data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" style="height: 140%; background-image: url(../../../../assets/img/pages/floors/44287734_ml_0.jpg);"></div>
  <div class="container g-color-white text-center g-py-120">
    <h3 class="h1 g-font-weight-600 text-uppercase mb-2">Vinyl</h3>
  </div>
</section>
<div class="container g-mt-70">
  <div class="row text-center">
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " routerLink="/vinyl/wf901-amber-acacia" routerLinkActive="active">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/vinyl/page2/WF901d.jpg" alt="WF901 Amber Acacia Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> WF901 Amber Acacia </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " routerLink="/vinyl/wf902-nature-acacia" routerLinkActive="active">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/vinyl/page2/wf902d.jpg" alt="WF902 Nature Acacia Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> WF902 Nature Acacia </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " routerLink="/vinyl/wf903-balsam" routerLinkActive="active">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/vinyl/page3/WF903e.jpg" alt="WF903 Balsam Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> WF903 Balsam </strong>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " routerLink="/vinyl/wf905-driftwood-oak" routerLinkActive="active">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/vinyl/page3/wf905e.jpg" alt="WF905 Driftwood Oak Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> WF905 Driftwood Oak </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " routerLink="/vinyl/wf906-tavern-oak" routerLinkActive="active">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/vinyl/page3/WF906e.jpg" alt="WF906 Tavern Oak Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> WF906 Tavern Oak </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " href="#!">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/vinyl/page3/wf907d.jpg" alt="WF907 Willow Oak Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> WF907 Willow Oak </strong>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " href="#!">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/vinyl/page3/WF908e.jpg" alt="WF908 Flint Oak Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> WF908 Flint Oak </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " href="#!">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/vinyl/page3/wf909d.jpg" alt="WF909 Clarion Wood Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> WF909 Clarion Wood </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " href="#!">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/vinyl/page3/wf910d.jpg" alt="WF910 Harvest Walnut Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> WF910 Harvest Walnut </strong>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " href="#!">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/vinyl/page3/wf904e.jpg" alt="WF904 Seabrook Oak">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> WF904 Seabrook Oak </strong>
      </a>
    </div>
  </div>
</div>
    
  
