.brd-dashed {
  border: 1px dashed #097AB3;
  border-radius: 5px;
}

.get-coupon {
  background-color: #097AB3;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.2) 100%);
  border: 1px solid #b6b6b6;
  color: #fff;
  border-radius: 5px;
  box-shadow: inset 0 1px #fff, inset 0 -1px #fff, inset 1px 0 #fff, inset -1px 0 #fff;
  padding: 6px 18px;
  margin: 10px 6px;
  text-decoration: none;
}

.ds-coupon-title {
  color: #063C5F;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.more-coupons {
  color: #097AB3;
  font-size: 12px;
}