<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall g-mt-70" data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
  <div class="divimage dzsparallaxer--target w-100 g-bg-pos-bottom-center" style="height: 120%; background-image: url(../../../../assets/img/pages/home/47256758_ml_1.jpg);"></div>

  <div class="container g-py-200 ">
    <div class="row">
      <div class="col-md-6">
        <h3 class="g-color-white g-font-weight-300 g-font-size-40 g-line-height-1_2 mb-4 text-shadow">
          Welcome To
          <br>
          <span class="just-floored-logo g-font-size-40"><span class="color-orange"> Just </span><span class="g-color-white">Floored</span></span>
        </h3>
        <span class="d-block g-color-white g-font-size-18 mb-5 text-shadow">Your Hardwood Floor, Tile, Vinyl Specialists</span>
        <a class="js-fancybox u-link-v5 g-color-black" href="javascript:;" data-src="https://www.youtube.com/watch?v=Ndnazuaguqk" data-speed="350" data-caption="Single Image">
          <span class="align-middle u-icon-v3 u-block-hover--scale g-bg-white g-color-black g-color-primary--hover g-rounded-50x g-cursor-pointer mr-2">
        <i class="g-font-size-18 g-pos-rel g-left-2 fa fa-play"></i>
      </span>
          <span class="g-color-white text-shadow">2:25 minutes</span>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="g-bg-primary g-color-white g-py-50 g-pa-30">
  <div class="container">
    <div class="row">
      <div class="col-md-9 align-self-center">
        <h3 class="h4">
          Get a free quote 
        </h3>
        <p class="lead g-mb-20 g-mb-0--md">Save time, paperwork, and money by scheduling a free quote with us today.</p>
      </div>
      <div class="col-md-3 align-self-center text-md-right">
        <a class="btn btn-md u-btn-outline-white g-brd-2 rounded-0" href="#!">Schedule an Appointment</a>
      </div>
    </div>
  </div>
</section>
<div class="container g-mt-50 g-mb-50">
  <div class="row">
    <div class="col-md-6">
      <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
        <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title">Floor Installation Since 1997</h2>
      </div>
      <p class="lead">
        JustFloored has
        <strong>beautified</strong> hundreds of homes and commmercial spaces with hardwood, tile, and vinyl.
        Master craftsmen with great attention to detail, painstakingly work through each step with your satisfaction in mind.
      <p>
    </div>

    <div class="col-md-6">
      <img class="img-fluid" src="../../../assets/img/main/frontbox-15895758_m_1.jpg" alt="Picture of hardwood flooring">
    </div>
  </div>

  <hr class="g-my-50">

  <div class="row">
    <div class="col-md-6">
      <img class="img-fluid" src="../../../assets/img/main/frontbox-6739833_ml_1.jpg" alt="Picture of tile flooring">
    </div>

    <div class="col-md-6">
      <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30 g-mt-30">
        <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title">Flooring done <strong>RIGHT</strong> the first time!</h2>
      </div>
      <p class="lead">
        For your peace of mind and a measure of our professionalism, we are licensed, bonded and insured!
      </p>
      <p>
        Our staff can help you make an informed decision on flooring, style, color, and finish decision appropriate for you and your home.
        <br><br>
        Ask about our <strong>low VOC's</strong> floor refinishing services, including <strong>dustless sanding</strong>.
      </p>
    </div>
  </div>
</div>
<section class="u-bg-overlay g-bg-img-hero g-bg-primary-opacity-0_9--after g-py-100" style="background-image: url(../../../assets/img/pages/about/lr-236.jpg);">
  <div class="container u-bg-overlay__inner">
    <div class="text-uppercase text-center u-heading-v2-4--bottom g-brd-white g-mb-60">
      <h4 class="g-font-weight-700 g-font-size-12 g-color-white g-mb-15">Who We Are</h4>
      <h2 class="u-heading-v2__title g-line-height-1_1 g-font-weight-700 g-font-size-40 g-color-white g-mb-minus-10">What We Do</h2>
    </div>

    <div class="row">

      <div class="col-md-6 g-mb-20 g-mb-0--md">
        <div class="u-heading-v8-1 g-mb-20">
          <h2 class="h6 text-uppercase u-heading-v8__title g-font-weight-700 g-color-white mb-0">
            <strong class="g-color-white p-0 g-mb-7">Flooring, Repair and Refinishing</strong>
          </h2>
        </div>

        <img class="img-fluid g-mb-20 what-we-do-image" src="../../../assets/img/main/circle-ph4.jpg" alt="Image of hardwood flooring">

        <p class="g-line-height-1_8 g-font-size-default g-color-white-opacity-0_8 g-mb-40">We install pre-finished or unfinished hardwood floors, engineered wood flooring, laminate floors, cork, bamboo, handscaped and vinyl flooring.</p>
      </div>

      <div class="col-md-6">
        <div class="u-heading-v8-1 g-mb-20">
          <h2 class="h6 text-uppercase u-heading-v8__title g-font-weight-700 g-color-white mb-0">
            <strong class="g-color-white p-0 g-mb-7">Stone and Tile Installation Services.</strong>
          </h2>
        </div>

        <img class="img-fluid g-mb-20 what-we-do-image" src="../../../assets/img/main/circle-682431_ml.jpg" alt="Image of bathroom tile work">

        <p class="g-line-height-1_8 g-font-size-default g-color-white-opacity-0_8 g-mb-40">Includes installation for floors, walls, and back splashes. Stone or tile travertine, marble, faux wood, glass, porcelain, ceramic, flagstone, etc in your choice of basic or custom patterns.</p>
      </div>
    </div>
  </div>
</section>
<div class="container g-py-30">
  <div class="text-uppercase text-center u-heading-v2-4--bottom g-brd-primary g-mb-60">
    <h4 class="g-font-weight-700 g-font-size-12 g-color-primary g-mb-15">Contact Us</h4>
    <h2 class="u-heading-v2__title g-line-height-1_1 g-font-weight-700 g-font-size-40 g-mb-minus-10">Get in touch</h2>
  </div>
  
  <div class="row text-center">
    <div class="col-lg-6 g-mb-60 g-mb-0--lg">
      <div class="row no-gutters">
        <div class="col-sm g-brd-bottom--sm g-brd-gray-light-v4 g-py-30 g-px-15">
          <span class="d-block display-5 g-color-primary g-mb-20">
            <i class="icon-call-in"></i>
          </span>
          <em class="d-block text-uppercase g-font-style-normal g-mb-5">Phone Number</em>
          <strong>(855) 452 - 2500</strong>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-sm g-py-30 g-px-15">
          <span class="d-block display-5 g-color-primary g-mb-20">
            <i class="icon-envelope-open"></i>
          </span>
          <em class="d-block text-uppercase g-font-style-normal g-mb-5">Email</em>
          <strong>info@justfloored.com</strong>
        </div>
      </div>
    </div>
  
    <div class="col-lg-6 align-self-center">
      <app-contact-us></app-contact-us>
    </div>
  </div>
</div>
