<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall g-mt-70" data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" style="height: 140%; background-image: url(../../../../assets/img/pages/floors/44287734_ml_0.jpg);"></div>
  <div class="container g-color-white text-center g-py-120">
    <h3 class="h1 g-font-weight-600 text-uppercase mb-2">Vinyl Plank Flooring</h3>
  </div>
</section>
<section class="container g-py-25">
  <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
    <h2 class=" g-mb-10">Affordable and Great Looking <span class="color-orange">Vinyl Plank</span> Flooring</h2>
  </div>

  <div class="g-pa-15">
    <div class="row">
      <div class="col-md-4 g-mb-30">
        <img src="../../../../../../assets/img/pages/floors/vinyl.png" class="g-mb-50" width="50%">
      </div>
      <div class="col-md-8 g-mb-30">
        <h4 class="g-font-weight-200">Easy to care for Vinyl Plank Flooring!</h4>
        <p>If you are looking for low maintenance, durability and easy installation, our vinyl plank flooring is a great budget friendly choice. Our vinyl plank flooring performs well and looks great! Perfect for kitchens, bathrooms, laundry areas, and mud rooms as well as basement areas. Textured vinyl planks are made to look like real wood or tile, water resistant and comfortable on bare feet. Great for active families with children and pets.</p>
      </div>
    </div>
  </div>
  
</section>