<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall g-mt-70" data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" style="height: 140%; background-image: url(../../../../assets/img/pages/floors/44287734_ml_0.jpg);"></div>
  <div class="container g-color-white text-center g-py-120">
    <h3 class="h1 g-font-weight-600 text-uppercase mb-2">Laminate</h3>
  </div>
</section>
<div class="container g-mt-70">
  <div class="row text-center">
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " routerLink="/laminate/gt201-coffee" routerLinkActive="active">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/laminate/page1/rw8001b.jpg.jpg" alt="GT 201 Coffee Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> GT 201 Cofee </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " routerLink="/laminate/gt202-reddish" routerLinkActive="active">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/laminate/page1/rw8002b.jpg.jpg" alt="GT 202 Reddish Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> GT 202 Reddish </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " routerLink="/laminate/gt203-chocolate" routerLinkActive="active">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/laminate/page1/rw8003e.jpg.jpg" alt="GT 203 Chocolate Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> GT 203 Chocolate Oak </strong>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " routerLink="/laminate/gt204-grey" routerLinkActive="active">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/laminate/page1/rw8004d.jpg" alt="GT 204 Grey Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> GT 204 Grey </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " routerLink="/laminate/gt212-volcanic-ash" routerLinkActive="active">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/laminate/page1/rw8005b.jpg.JPG" alt="GT 212 Volcanic Ash Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> GT 212 Volcanic Ash </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " routerLink="/laminate/gt213-geyer-walnut" routerLinkActive="active">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/laminate/page1/rw8006b.jpg.JPG" alt="GT 213 Geyer Walnut Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> GT 213 Geyer Walnut </strong>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " routerLink="/laminate/gt215-river-cypress" routerLinkActive="active">
        <img class="img-fluid u-block-hover__main--zoom-v1 mh-525" src="../../../../../assets/img/pages/laminate/page2/rw8008b.jpg.JPG" alt="GT 215 River Cypress Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> GT 215 River Cypress </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " routerLink="/laminate/gt216-old-master" routerLinkActive="active">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/laminate/page2/gt216d.jpg" alt="GT 216 Old Master Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> GT 216 Old Master </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " routerLink="/laminate/gt217-old-captain" routerLinkActive="active">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/laminate/page2/gt217d.jpg" alt="GT 217 Old Captain Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> GT 217 Old Captain </strong>
      </a>
    </div>
  </div>
</div>
  
