<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall g-mt-70" data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" style="height: 140%; background-image: url(../../../../assets/img/pages/floors/44287734_ml_0.jpg);"></div>
  <div class="container g-color-white text-center g-py-120">
    <h3 class="h1 g-font-weight-600 text-uppercase mb-2">Solid Wood Flooring</h3>
  </div>
</section>
<section class="container g-py-25">
  <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
    <h2 class=" g-mb-10">Finished or Unfinished <span class="color-orange">Hardwood</span> Flooring</h2>
  </div>

  <img src="../../../../../../assets/img/pages/floors/solid_eng.png" class="img-flip g-mb-50" width="50%">

  <div class="row g-pa-15">
    <h4 class="g-font-weight-200">Hardwoods</h4>
    <p>Hardwood flooring is an option for floors that present a range of choice for the consumer to consider. One such choice is that of species. Some species are very hard, and stand to be a notably durable choice. Others are less hard, but more forgiving when sawed or nailed to a subfloor. Some species of hardwood have colors which remain more or less constant. Others exhibit “photosensitivity”, which means that the color of the hardwood flooring species changes as it is exposed to light. Whatever your requirement, hardwood flooring presents an option in floors that enable you to choose the perfect look, texture, and general effect. Here is a selected list of species common for use as hardwood flooring:</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h5 class="g-font-weight-200">Red and White oak</h5>
        <p>These species are naturally pale in color, with hints of pink running through the Red Oak. Both are known for their utility across all kinds of applications. White Oak is known to be slightly harder than red oak, although red oak in turn is slightly easier to saw and nail.</p>
      </li>
      <li class="list-group-item">
        <h5 class="g-font-weight-200">Hard Maple</h5>
        <p>Used for cabinet making as well as flooring, American Cherry is known to be an attractive species that is very easy to work with. It is not as hard as either red or white oak, but offers a greater tonal range of color that darkens over time to become even more rich in tone, due to photosensitivity.</p>
      </li>
      <li class="list-group-item">
        <h5 class="g-font-weight-200">American Cherry</h5>
        <p>Harder still than oak, the uniform texture of maple as well as its naturally abrasion-resistant surface makes it an excellent choice for hardwood flooring. Early North American settlers relied upon maple for its hardy nature, and it continues to be popular today.</p>
      </li>
      <li class="list-group-item">
        <h5 class="g-font-weight-200">Brazilian Cherry (AKA Jatoba)</h5>
        <p>One of most notable features of this exotic species is its color – a rich, reddish brown that eventually ages into a lustrous burgundy. Another important as aspect of Jatoba is how hard it is; it is harder than some species of mahogany. So for look as well as durability, Brazilian Cherry excels. Hardness of hardwood species used for flooring – The Janka Hardness Scale</p>
      </li>
    </ul>
    
    <h4 class="g-font-weight-200 g-mt-75">Janka Hardness Scale</h4>
    <p>The Janka hardness scale is a common reference for judging the hardness of each hardwood species. The scale is based on a test that presses a .444 inch steel ball into the tested hardwood species at a constant pressure. In the simplest terms, the measurement of the scale rating is in accordance with how deep the ball is embedded into the wood – the deeper the ball, the softer is the wood. Listed here are some of the more popular species of hardwood used in flooring that have been rated according to the Janka test.</p>
    <ul>
      <li>American Black Cherry - 950</li>
      <li>American Black Walnut - 1260</li>
      <li>Yellow Birch - 1260</li>
      <li>Red Oak - 1290</li>
      <li>White Ash - 1320</li>
      <li>White Oak - 1360</li>
      <li>Hard Maple - 1450</li>
      <li>Santos Mahogany - 2220</li>
      <li>Brazilian Cherry - 2345</li>
      <li>Brazilian Teak - 3540</li>
      <li>Brazilian Walnut - 3680</li>
      <li>Ebony - 3692</li>
    </ul>
    <p>Along with the advantages of appearance, hardwood is and continues to be a choice in flooring that can add structural strength to a residence or office, whatever the species.</p>
    <h4 class="g-font-weight-200 g-mt-25">Prefinished Wood</h4>
    <p>Prefinished wood floors take less time to install because sanding, surface preparation, and finishing are already done in the factory. Here are some other attributes of prefinished wood floors that make them a solid choice in wood flooring:</p>
    <ul>
      <li>Prefinished wood floors come pre-sanded, pre-coated, and ready to install. They also take less time, effort, and energy to install, and no time to set.</li>
      <li>The installation for prefinished wood floors does not produce any toxic fumes, dust or odor.</li>
      <li>A faster installation allows you to move back to the location quickly. You don't have to wait for the finish to dry or cure.</li>
      <li>Prefinished wood floors have a durable finish that can't be achieved on floors finished on the job site. It is far more durable for wear and also withstands more abuse.</li>
      <li>Prefinished wood floors can be installed in your home without relocating family as the location remains safe for living even during the installation process.</li>
      <li>Prefinished wood floors come with extended factory finish warranty from the manufacturer.</li>
      <li>Prefinished floors are custom finished at the factory and offers limited finish and color options.</li>
      <li>Once prefinished wood floors are installed, it's ready to be walked upon.</li>
    </ul>
  </div>
  
</section>