<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall g-mt-70" data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" style="height: 140%; background-image: url(../../../../assets/img/pages/floors/44287734_ml_0.jpg);"></div>
  <div class="container g-color-white text-center g-py-120">
    <h3 class="h1 g-font-weight-600 text-uppercase mb-2">GT 105 Snow Oak</h3>
  </div>
</section>
<section class="container g-bg-white g-pt-100 g-pb-70">
  <div class="row">
    <div class="col">
       <div class="g-brd-around g-brd-gray-light-v4 g-brd-left-4 g-brd-primary-left g-line-height-1_8 g-rounded-3 g-pa-20 g-mb-30">
        <h3 class=" g-color-primary g-font-weight-600">GT 105 Snow Oak</h3>
        <p class="mb-0 g-font-size-16">
          <strong>Style:</strong> EIR Finish<br>
          <strong>Construction:</strong> Laminate<br>
          <strong>Thickness:</strong> 0.47" (12mm)<br>
          <strong>Dimensions:</strong> 47.87" &times; 7.72" (1216mm &times; 196mm)<br>
          <strong>Formaldehyde Content:</strong> Carb 2<br>
          <strong>Abrasion Resistance:</strong> AC3 class 23-31<br>
          <strong>Surface Texture:</strong> EIR Finish<br>
          <strong>ft<sup>2</sup> per carton:</strong> 15.39 ft<sup>2</sup><br>
          <strong>Edge Profile:</strong> Micro bevel edge<br>
          <strong>Water Resistance:</strong> Waxing on Locking System<br>
        </p>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col g-mb-30">
          <a class="js-fancybox d-block u-bg-overlay g-bg-black-opacity-0_5--after" href="javascript:;" data-fancybox="lightbox-gallery-hidden" data-src="../../../../../../assets/img/pages/laminate/gt105/IMG_4974.jpg" data-caption="GT 105 Snow Oak" data-speed="500" data-slideshow-speed="1000">
            <img class="img-fluid" src="../../../../../../assets/img/pages/laminate/gt105/IMG_4974.jpg" alt="GT 105 Snow Oak">
            <span class="u-bg-overlay__inner g-absolute-centered g-color-white">
            <span class="g-font-size-46">3+</span>
            <br>view photos
            </span>
          </a>
        </div>
      
        <img class="js-fancybox g-hidden-xs-up" data-fancybox="lightbox-gallery-hidden" data-src="../../../../../../assets/img/pages/laminate/gt105/GT-105-a_1_0.jpg" data-caption="GT 105 Snow Oak" data-speed="500" data-slideshow-speed="1000">
        <img class="js-fancybox g-hidden-xs-up" data-fancybox="lightbox-gallery-hidden" data-src="../../../../../../assets/img/pages/laminate/gt105/GT105.jpg" data-caption="GT 105 Snow Oak" data-speed="500" data-slideshow-speed="1000">
        <img class="js-fancybox g-hidden-xs-up" data-fancybox="lightbox-gallery-hidden" data-src="../../../../../../assets/img/pages/laminate/gt105/IMG_4154.jpg" data-caption="GT 105 Snow Oak" data-speed="500" data-slideshow-speed="1000">
      </div>
    </div>
  </div>
</section>