<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall g-mt-70" data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" style="height: 140%; background-image: url(../../../../assets/img/pages/floors/44287734_ml_0.jpg);"></div>
  <div class="container g-color-white text-center g-py-120">
    <h3 class="h1 g-font-weight-600 text-uppercase mb-2">Vinyl</h3>
  </div>
</section>
<div class="container g-mt-70">
  <div class="row text-center">
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " routerLink="/vinyl/vf001-prestige" routerLinkActive="active">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/vinyl/page1/VF001e.jpg" alt="VF001 Prestige Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> VF001 Prestige </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " routerLink="/vinyl/vf002-rockport" routerLinkActive="active">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/vinyl/page1/VF002c.jpg" alt="VF002 Rockport Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> VF002 Rockport </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " routerLink="/vinyl/vf003-coca-blossom" routerLinkActive="active">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/vinyl/page1/VF003c.jpg" alt="VF003 Coca Blossom Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> VF003 Coca Blossom </strong>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " routerLink="/vinyl/vf004-ashford" routerLinkActive="active">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/vinyl/page1/VF004d.jpg" alt="VF004 Ashford Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> VF004 Ashford </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " routerLink="/vinyl/vf005-oak" routerLinkActive="active">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/vinyl/page1/VF005d.jpg" alt="VF005 Oak Flooring">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> VF005 Oak </strong>
      </a>
    </div>
    <div class="col-md-4 g-mb-30">
      <a class="d-block u-block-hover " routerLink="/vinyl/vf006-acacia" routerLinkActive="active">
        <img class="img-fluid u-block-hover__main--zoom-v1" src="../../../../../assets/img/pages/vinyl/page1/VF006d.jpg" alt="VF006 Acacia">
        <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> VF006 Acacia </strong>
      </a>
    </div>
  </div>
</div>
    
  
